.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        include ./title
      .col-sm-6
        ol.breadcrumb.float-sm-right
          li.breadcrumb-item
            a(href='#') Home
          li.breadcrumb-item.active Dashboard v1