<main role="main">
  <!-- BEGIN content_for_index -->
  <% include ./../../elements/sliders %>
  <% include ./../../elements/banner %>
  <% include ./../../elements/ourServices %>
  <% include ./../../elements/newProduct %>
  <% include ./../../elements/shopByCategory %>
  <% include ./../../elements/dealBanner %>
  <% include ./../../elements/ourProduct %>
  <% include ./../../elements/testimonial %>
  <% include ./../../elements/trendingProduct %>
  <% include ./../../elements/recentNews %>
  <% include ./../../elements/subcribe %>
</main>