<main>
  <% include ../../elements/headerFeaturePost %>
  <% include ../../elements/mainPost %>

  <% include ../../elements/adBanner1 %>
  <% include ../../elements/topPost %>
  
  <% include ../../elements/whatNews %>

  <% include ../../elements/articlesLatest %>
  <% include ../../elements/subcribe %>
</main>