<div class="banner inner-banner">
  <div class="container">
      <nav class="rt-breadcrumb-wrap" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">
                  <i class="fas fa-home"></i>
                  Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Life Style
            </li>
          </ol>
      </nav>
    </div>
</div>