<div class="banner inner-banner">
  <div class="container">
      <nav class="rt-breadcrumb-wrap" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                  <i class="fas fa-home"></i>
                  Home
                </a>
            </li>
            <% breadcrumb.forEach(item => { 
              if(item.link) { %>
                <li class="breadcrumb-item">
                  <a href="<%= item.link %>">
                    <%= item.name %>
                  </a>
                </li>
            <%  } else { %>
              <li class="breadcrumb-item active" aria-current="page">
                <%= item.name %>
              </li>
            <% } })%> 
          </ol>
      </nav>
    </div>
</div>