<!-- Meta Data -->
<base href="/">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Neeon | Home 01 - Main </title>

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="frontend/media/favicon.png">

<!-- Dependency Stylesheet -->
<link rel="stylesheet" type="text/css" href="frontend/dependencies/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="frontend/dependencies/fontawesome/css/all.min.css">
<link rel="stylesheet" type="text/css" href="frontend/dependencies/animate/animate.min.css">
<link rel="stylesheet" type="text/css" href="frontend/dependencies/swiper/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="frontend/dependencies/magnific-popup/css/magnific-popup.css">

<!-- Site Stylesheet -->
<link rel="stylesheet" type="text/css" href="frontend/assets/css/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>