<!-- theme-switch-box -->
<div class="theme-switch-box-wrap">
  <div class="theme-switch-box">
    <span class="theme-switch-box__theme-status"><i class="fas fa-cog"></i></span>
    <label class="theme-switch-box__label" for="themeSwitchCheckbox">
      <input class="theme-switch-box__input" type="checkbox" name="themeSwitchCheckbox" id="themeSwitchCheckbox">
      <span class="theme-switch-box__main"></span>
    </label>
    <span class="theme-switch-box__theme-status"><i class="fas fa-moon"></i></span>
  </div>
</div>
<!-- end theme-switch-box -->