<div id="shopify-section-1589980286553" class="shopify-section">
  <!-- banner-area start -->
  <div class="banner-grid">
    <div class="container">
      <ul class="banner-wrap">

        <li class="banner-wrapper">
          <div class="banner-block banner-hover">
            <a href="/collections/frontpage">
              <img class="img-fluid"
                src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/banner7-min.jpg?v=1613780889">
            </a>
            <div class="banner-content text-left">

              <p>Organic Juice</p>


              <h3 style="color: #232323;">Fresh vegetable<br>on our product</h3>


              <a href="/collections/frontpage" class="banner-btn">SHOP NOW</a>

            </div>
          </div>
        </li>

        <li class="banner-wrapper">
          <div class="banner-block banner-hover">
            <a href="/collections/salads">
              <img class="img-fluid"
                src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/banner8-min.jpg?v=1613780889">
            </a>
            <div class="banner-content text-left">

              <p>Fresh Food</p>


              <h3 style="color: #232323;">Vegetable Eggplant<br>100% Fresh food</h3>


              <a href="/collections/salads" class="banner-btn">SHOP NOW</a>

            </div>
          </div>
        </li>

        <li class="banner-wrapper">
          <div class="banner-block banner-hover">
            <a href="/collections/fruits">
              <img class="img-fluid"
                src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/banner9-min.jpg?v=1613780889">
            </a>
            <div class="banner-content text-left">

              <p>Organic Dry Fruits</p>


              <h3 style="color: #232323;">Nuts dry fruits<br>Festive still life</h3>


              <a href="/collections/fruits" class="banner-btn">SHOP NOW</a>

            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <!-- banner-area end -->

  <style>
    .banner-grid {
      padding-top: 80px;
      padding-bottom: 0px;
    }

    @media(max-width: 1199px) {
      .banner-grid {
        padding-top: 50px;
        padding-bottom: 0px;
      }
    }

    .banner-grid ul.banner-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -30px 0 0 -30px;
    }

    .banner-grid ul.banner-wrap .banner-wrapper {
      width: calc(33.33% - 30px);
      margin: 30px 0 0 30px;
    }

    .banner-grid .banner-content {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
    }

    .banner-grid .banner-content.text-left {
      left: 20px;
    }

    .banner-grid .banner-content.text-right {
      right: 20px;
    }

    .banner-grid .banner-content h3 {
      font-size: 18px;
      margin-top: 10px;
      font-weight: 600;
    }

    .banner-grid .banner-content .banner-btn {
      color: var(--color-primary);
      margin-top: 18px;
      font-weight: 500;
    }

    .banner-grid .banner-content .banner-btn:after {
      content: "\f105";
      font: normal normal normal 14px/1 FontAwesome;
      margin-left: 5px;
    }

    .banner-grid .banner-content .banner-btn:hover {
      color: var(--color-secondary);
    }

    @media (max-width: 1199px) {
      .banner-grid ul.banner-wrap .banner-wrapper {
        width: calc(50% - 30px);
      }

      .banner-grid .banner-content p {
        font-size: 12px;
      }

      .banner-grid .banner-content .banner-btn {
        margin-top: 13px;
      }

      .banner-grid .banner-content a {
        font-size: 12px;
      }
    }

    @media (max-width: 991px) {
      .banner-grid .banner-content h3 {
        font-size: 16px;
      }

      .banner-grid .banner-content {
        left: 15px;
      }
    }

    @media (max-width: 600px) {
      .banner-grid ul.banner-wrap {
        margin: -15px 0 0 -15px;
      }

      .banner-grid ul.banner-wrap .banner-wrapper {
        width: calc(100% - 15px);
        margin: 15px 0 0 15px;
      }
    }
  </style>
</div>