<div id="shopify-section-header" class="shopify-section"><div class="header-area header-sticky">
  <div class="header-main-area">
    <div class="container">
      <div class="header-main">
        <div class="logo header-element">
<a href="https://vegina-store.myshopify.com" class="theme-header-logo">
  <img src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/logo-2.svg?v=18423693051201584023" class="img-fluid" alt="Vegist" style="width: 105px;">
</a><style>
  /* logo css */
  a.theme-header-logo {
    display: block;
  }

  /* store css */
  a.shop-header-name {
    display: block;
  }
  a.shop-header-name span {
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 600;
  }
</style></div>
        <div class="main-menu-area header-element">
          <nav class="main-navigation navbar-expand-xl">
            <div class="box-header">
              <button class="close-box" type="button"><i class="ion-close-round"></i></button>
            </div>
            <ul class="main-menu">
  
  
  
  <li class="menu-link parant">
    <a class="link-title" href="/">
      <span>Home</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <a data-bs-toggle="collapse" href="#collapse-home" class="link-title link-title-lg">
      <span>Home</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-submenu collapse" id="collapse-home">
      
      
      
      <li class="megamenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=102269190293" class="sublink-url">
          <span>Vegist home 01 </span>
          <i class="fa fa-angle-down"></i>
        </a>
        <a data-bs-toggle="collapse" href="#collapse-vegist-home-01" class="sublink-title">
          <span>Vegist home 01 </span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-supmenu collapse" id="collapse-vegist-home-01">
          
          <li class="supmenu-li">
            <a href="https://vegina-store.myshopify.com/?preview_theme_id=102269190293" class="suplink-title">Vegist home 01 </a>
          </li>
          
          <li class="supmenu-li">
            <a href="https://vegina-store.myshopify.com/?preview_theme_id=131857023125" class="suplink-title">Vegist home 01 (RTL) </a>
          </li>
          
          <li class="supmenu-li">
            <a href="https://vegina-store.myshopify.com/?preview_theme_id=131857055893" class="suplink-title">Vegist home 01 (BOX) </a>
          </li>
          
        </ul>
      </li>

      
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=102517080213" class="sublink-title">Vegist home 02</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=109749797013" class="sublink-title">Vegist home 03 </a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=108702072981" class="sublink-title">Vegist home 04</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=115691847829" class="sublink-title">Vegist home 05</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=116246380693" class="sublink-title">Vegist home 06</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=117028585621" class="sublink-title">Vegist home 07</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=122572505237" class="sublink-title">Vegist home 08</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://grocerystore-shop.myshopify.com/?preview_theme_id=120524111971" class="sublink-title">Vegist home 09</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://grocerystore-shop.myshopify.com/?preview_theme_id=120697847907" class="sublink-title">Vegist home 10</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://grocerystore-shop.myshopify.com/?preview_theme_id=120793596003" class="sublink-title">Vegist home 11</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://grocerystore-shop.myshopify.com/?preview_theme_id=121147326563" class="sublink-title">Vegist home 12</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://grocerystore-shop.myshopify.com/?preview_theme_id=121225183331" class="sublink-title">Vegist home 13</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=131858661525" class="sublink-title">Vegist home 14</a>
      </li>

    
    
    
    </ul>
  </li>
  
  
  
  
  <li class="menu-link parant">
    <a class="link-title" href="/collections">
      <span>Shop</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <a data-bs-toggle="collapse" href="#collapse-shop" class="link-title link-title-lg">
      <span>Shop</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-submenu collapse" id="collapse-shop">
      
      
      
      <li class="megamenu-li parant">
        <a href="/collections/frontpage" class="sublink-url">
          <span>Fresh food</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <a data-bs-toggle="collapse" href="#collapse-fresh-food" class="sublink-title">
          <span>Fresh food</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-supmenu collapse" id="collapse-fresh-food">
          
          <li class="supmenu-li">
            <a href="/products/100-fafe-organic-fruit" class="suplink-title">Fruit & nut </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-green-orange" class="suplink-title"> Snack foods </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/henry-tixied-top" class="suplink-title">Organics nut gifts</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/binance-bags" class="suplink-title"> Non-dairy </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/bantch-blazar-hint" class="suplink-title">Blackberry organic</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/hmd-colection-watch" class="suplink-title">Fresh & Healthy Food</a>
          </li>
          
        </ul>
      </li>

      
    
      
      
      <li class="megamenu-li parant">
        <a href="/products/henry-tixied-top" class="sublink-url">
          <span>Mixedfruits </span>
          <i class="fa fa-angle-down"></i>
        </a>
        <a data-bs-toggle="collapse" href="#collapse-mixedfruits" class="sublink-title">
          <span>Mixedfruits </span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-supmenu collapse" id="collapse-mixedfruits">
          
          <li class="supmenu-li">
            <a href="/products/bantch-blazar-hint" class="suplink-title">Oranges </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/hmd-colection-watch" class="suplink-title"> Ghee beverages</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/ladies-sniper-crop" class="suplink-title"> Ranch salad </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-avocado" class="suplink-title">Fresh avocado</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-blueberry" class="suplink-title">Fresh blueberry</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/henry-tixied-top" class="suplink-title">Fresh apple (5kg)</a>
          </li>
          
        </ul>
      </li>

      
    
      
      
      <li class="megamenu-li parant">
        <a href="/products/binance-bags" class="sublink-url">
          <span>Bananas & plantains</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <a data-bs-toggle="collapse" href="#collapse-bananas-plantains" class="sublink-title">
          <span>Bananas & plantains</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-supmenu collapse" id="collapse-bananas-plantains">
          
          <li class="supmenu-li">
            <a href="/products/bantch-blazar-hint" class="suplink-title"> Fresh gala </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/binance-bags" class="suplink-title">Fifts mixed fruits </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/copy-of-blackberry-100-organic" class="suplink-title">Fresh organic</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/copy-of-sp-red-fresh-guava" class="suplink-title">Vegetable tomato</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-litchi-100-organic" class="suplink-title">Fresh litchi 100% organic</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-blueberry" class="suplink-title">Fresh blueberry</a>
          </li>
          
        </ul>
      </li>

      
    
      
      
      <li class="megamenu-li parant">
        <a href="/collections/bakers-rack" class="sublink-url">
          <span>Apples berries</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <a data-bs-toggle="collapse" href="#collapse-apples-berries" class="sublink-title">
          <span>Apples berries</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-supmenu collapse" id="collapse-apples-berries">
          
          <li class="supmenu-li">
            <a href="/products/hmd-colection-watch" class="suplink-title"> Pears produce</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-green-orange" class="suplink-title">Fresh green orange</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/bantch-blazar-hint" class="suplink-title">Blackberry 100%organic</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-grassben" class="suplink-title">Fresh grassben</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/deli-roll-cake" class="suplink-title">Deli roll cake</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-grassben" class="suplink-title">Fresh grassben</a>
          </li>
          
        </ul>
      </li>

      
    
    </ul>
  </li>
  
  
  
  
  <li class="menu-link parant">
    <a class="link-title" href="https://vegina-store.myshopify.com/collections">
      <span>Collection</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <a data-bs-toggle="collapse" href="#collapse-collection" class="link-title link-title-lg">
      <span>Collection</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-submenu collapse" id="collapse-collection">
      
      
      
      
      
      <li class="menu-banner">
        <a href="/collections/frontpage" class="banner-hover">
          <img src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/banner4_560x350_crop_center.jpg?v=1595936653">
        </a>
        <a href="/collections/frontpage" class="menu-banner-title">
          <span>Bestseller</span>
        </a>
      </li>
      
      
    
    
      
      
      
      
      <li class="menu-banner">
        <a href="/collections/fast-foods" class="banner-hover">
          <img src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/banner6_560x350_crop_center.jpg?v=1595936651">
        </a>
        <a href="/collections/fast-foods" class="menu-banner-title">
          <span>Special product</span>
        </a>
      </li>
      
      
    
    
      
      
      
      
      <li class="menu-banner">
        <a href="/collections/salads" class="banner-hover">
          <img src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/banner5_19e6fd2c-70b2-459d-b4d5-d7680262856a_560x350_crop_center.jpg?v=1595936691">
        </a>
        <a href="/collections/salads" class="menu-banner-title">
          <span>Featured product</span>
        </a>
      </li>
      
      
    
    
    </ul>
  </li>
  
  
  
  
  <li class="menu-link parant">
    <a class="link-title" href="#">
      <span>Pages</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <a data-bs-toggle="collapse" href="#collapse-pages" class="link-title link-title-lg">
      <span>Pages</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-submenu collapse" id="collapse-pages">
      
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/about-us" class="sublink-title">About us</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/faqs" class="sublink-title">Faq's</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/payment-policy" class="sublink-title">Payment policy</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/privacy-policy" class="sublink-title">Privacy policy</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/contact-us" class="sublink-title">Contact us</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/return-policy" class="sublink-title">Return policy</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/terms-conditions" class="sublink-title">Terms & conditions</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/404" class="sublink-title">Page 404</a>
      </li>

    
    
    
    </ul>
  </li>
  
  
  
  
  <li class="menu-link parant">
    <a class="link-title" href="/blogs/news">
      <span>Blogs</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <a data-bs-toggle="collapse" href="#collapse-blogs" class="link-title link-title-lg">
      <span>Blogs</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-submenu collapse" id="collapse-blogs">
      
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/blogs/news?preview_theme_id=122572505237" class="sublink-title">Blog two grid</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/blogs/news?preview_theme_id=117028585621" class="sublink-title">Blog three grid</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/blogs/news?preview_theme_id=102517080213" class="sublink-title">Blog left sidebar</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/blogs/news?preview_theme_id=102269190293" class="sublink-title">Blog right sidebar</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/blogs/recipies/italian-chiken-peri-peri" class="sublink-title">Blockquote post</a>
      </li>

    
    
    
    </ul>
  </li>
  
  
  
  
  <li class="menu-link">
    <a href="https://themeforest.net/item/vegist-the-vegetables-organic-food-ecommerce-shopify-theme/27645298?_ga=2.232525215.1005216720.1594384426-306312402.1594142010" class="link-title">
      <span>Buy Vegist<span class="hot">HOT</span></span>
    </a>
    <a href="https://themeforest.net/item/vegist-the-vegetables-organic-food-ecommerce-shopify-theme/27645298?_ga=2.232525215.1005216720.1594384426-306312402.1594142010" class="link-title link-title-lg">
      <span>Buy Vegist<span class="hot">HOT</span></span>
    </a>
  </li>
  
  
</ul>
<script>
  $('.megamenu-li').parent('ul').addClass('mega-menu');
  $('.menu-banner').parent('ul').addClass('banner-menu');
  $('.submenu-li').parent('ul').addClass('sub-menu');
</script>
          </nav>
        </div>
        <div class="header-element right-block-box">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <i class="icon-menu"></i>
          </button>
          <ul class="shop-element">
            
            <li class="search-wrap">
              <button type="button" class="search-mobile-btn" data-bs-toggle="modal" data-bs-target="#searchmodal"><i class="ion-ios-search-strong"></i></button>
            </li>
            
            <li class="wishlist-wrap ele-wrap">
              <div class="wishlist">
	<a class="header-wishlist-btn" href="/pages/wishlist" title="Wishlist">
	  <i class="icon-heart"></i>
	  <span class="wishlist-counter"></span>
	</a>	
</div>

            </li>
            <li class="cart-wrap ele-wrap">
              <div class="shopping-widget">
                <div class="shopping-cart">
                  <a href="javascript:void(0)" class="cart-count">
                    <i class="icon-handbag"></i>
                    <span id="cart-total" class="bigcounter">0</span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="menu-mobile">
  <div class="main-menu-area header-element">
    <nav class="main-navigation navbar-expand-xl">
      <div class="box-header">
        <button class="close-box" type="button"><i class="ion-close-round"></i></button>
      </div>
      <ul class="main-menu">
  
  
  
  <li class="menu-link parant">
    <a class="link-title" href="/">
      <span>Home</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <a data-bs-toggle="collapse" href="#collapse-home" class="link-title link-title-lg">
      <span>Home</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-submenu collapse" id="collapse-home">
      
      
      
      <li class="megamenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=102269190293" class="sublink-url">
          <span>Vegist home 01 </span>
          <i class="fa fa-angle-down"></i>
        </a>
        <a data-bs-toggle="collapse" href="#collapse-vegist-home-01" class="sublink-title">
          <span>Vegist home 01 </span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-supmenu collapse" id="collapse-vegist-home-01">
          
          <li class="supmenu-li">
            <a href="https://vegina-store.myshopify.com/?preview_theme_id=102269190293" class="suplink-title">Vegist home 01 </a>
          </li>
          
          <li class="supmenu-li">
            <a href="https://vegina-store.myshopify.com/?preview_theme_id=131857023125" class="suplink-title">Vegist home 01 (RTL) </a>
          </li>
          
          <li class="supmenu-li">
            <a href="https://vegina-store.myshopify.com/?preview_theme_id=131857055893" class="suplink-title">Vegist home 01 (BOX) </a>
          </li>
          
        </ul>
      </li>

      
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=102517080213" class="sublink-title">Vegist home 02</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=109749797013" class="sublink-title">Vegist home 03 </a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=108702072981" class="sublink-title">Vegist home 04</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=115691847829" class="sublink-title">Vegist home 05</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=116246380693" class="sublink-title">Vegist home 06</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=117028585621" class="sublink-title">Vegist home 07</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=122572505237" class="sublink-title">Vegist home 08</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://grocerystore-shop.myshopify.com/?preview_theme_id=120524111971" class="sublink-title">Vegist home 09</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://grocerystore-shop.myshopify.com/?preview_theme_id=120697847907" class="sublink-title">Vegist home 10</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://grocerystore-shop.myshopify.com/?preview_theme_id=120793596003" class="sublink-title">Vegist home 11</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://grocerystore-shop.myshopify.com/?preview_theme_id=121147326563" class="sublink-title">Vegist home 12</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://grocerystore-shop.myshopify.com/?preview_theme_id=121225183331" class="sublink-title">Vegist home 13</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/?preview_theme_id=131858661525" class="sublink-title">Vegist home 14</a>
      </li>

    
    
    
    </ul>
  </li>
  
  
  
  
  <li class="menu-link parant">
    <a class="link-title" href="/collections">
      <span>Shop</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <a data-bs-toggle="collapse" href="#collapse-shop" class="link-title link-title-lg">
      <span>Shop</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-submenu collapse" id="collapse-shop">
      
      
      
      <li class="megamenu-li parant">
        <a href="/collections/frontpage" class="sublink-url">
          <span>Fresh food</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <a data-bs-toggle="collapse" href="#collapse-fresh-food" class="sublink-title">
          <span>Fresh food</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-supmenu collapse" id="collapse-fresh-food">
          
          <li class="supmenu-li">
            <a href="/products/100-fafe-organic-fruit" class="suplink-title">Fruit & nut </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-green-orange" class="suplink-title"> Snack foods </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/henry-tixied-top" class="suplink-title">Organics nut gifts</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/binance-bags" class="suplink-title"> Non-dairy </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/bantch-blazar-hint" class="suplink-title">Blackberry organic</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/hmd-colection-watch" class="suplink-title">Fresh & Healthy Food</a>
          </li>
          
        </ul>
      </li>

      
    
      
      
      <li class="megamenu-li parant">
        <a href="/products/henry-tixied-top" class="sublink-url">
          <span>Mixedfruits </span>
          <i class="fa fa-angle-down"></i>
        </a>
        <a data-bs-toggle="collapse" href="#collapse-mixedfruits" class="sublink-title">
          <span>Mixedfruits </span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-supmenu collapse" id="collapse-mixedfruits">
          
          <li class="supmenu-li">
            <a href="/products/bantch-blazar-hint" class="suplink-title">Oranges </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/hmd-colection-watch" class="suplink-title"> Ghee beverages</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/ladies-sniper-crop" class="suplink-title"> Ranch salad </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-avocado" class="suplink-title">Fresh avocado</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-blueberry" class="suplink-title">Fresh blueberry</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/henry-tixied-top" class="suplink-title">Fresh apple (5kg)</a>
          </li>
          
        </ul>
      </li>

      
    
      
      
      <li class="megamenu-li parant">
        <a href="/products/binance-bags" class="sublink-url">
          <span>Bananas & plantains</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <a data-bs-toggle="collapse" href="#collapse-bananas-plantains" class="sublink-title">
          <span>Bananas & plantains</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-supmenu collapse" id="collapse-bananas-plantains">
          
          <li class="supmenu-li">
            <a href="/products/bantch-blazar-hint" class="suplink-title"> Fresh gala </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/binance-bags" class="suplink-title">Fifts mixed fruits </a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/copy-of-blackberry-100-organic" class="suplink-title">Fresh organic</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/copy-of-sp-red-fresh-guava" class="suplink-title">Vegetable tomato</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-litchi-100-organic" class="suplink-title">Fresh litchi 100% organic</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-blueberry" class="suplink-title">Fresh blueberry</a>
          </li>
          
        </ul>
      </li>

      
    
      
      
      <li class="megamenu-li parant">
        <a href="/collections/bakers-rack" class="sublink-url">
          <span>Apples berries</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <a data-bs-toggle="collapse" href="#collapse-apples-berries" class="sublink-title">
          <span>Apples berries</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-supmenu collapse" id="collapse-apples-berries">
          
          <li class="supmenu-li">
            <a href="/products/hmd-colection-watch" class="suplink-title"> Pears produce</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-green-orange" class="suplink-title">Fresh green orange</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/bantch-blazar-hint" class="suplink-title">Blackberry 100%organic</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-grassben" class="suplink-title">Fresh grassben</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/deli-roll-cake" class="suplink-title">Deli roll cake</a>
          </li>
          
          <li class="supmenu-li">
            <a href="/products/fresh-grassben" class="suplink-title">Fresh grassben</a>
          </li>
          
        </ul>
      </li>

      
    
    </ul>
  </li>
  
  
  
  
  <li class="menu-link parant">
    <a class="link-title" href="https://vegina-store.myshopify.com/collections">
      <span>Collection</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <a data-bs-toggle="collapse" href="#collapse-collection" class="link-title link-title-lg">
      <span>Collection</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-submenu collapse" id="collapse-collection">
      
      
      
      
      
      <li class="menu-banner">
        <a href="/collections/frontpage" class="banner-hover">
          <img src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/banner4_560x350_crop_center.jpg?v=1595936653">
        </a>
        <a href="/collections/frontpage" class="menu-banner-title">
          <span>Bestseller</span>
        </a>
      </li>
      
      
    
    
      
      
      
      
      <li class="menu-banner">
        <a href="/collections/fast-foods" class="banner-hover">
          <img src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/banner6_560x350_crop_center.jpg?v=1595936651">
        </a>
        <a href="/collections/fast-foods" class="menu-banner-title">
          <span>Special product</span>
        </a>
      </li>
      
      
    
    
      
      
      
      
      <li class="menu-banner">
        <a href="/collections/salads" class="banner-hover">
          <img src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/banner5_19e6fd2c-70b2-459d-b4d5-d7680262856a_560x350_crop_center.jpg?v=1595936691">
        </a>
        <a href="/collections/salads" class="menu-banner-title">
          <span>Featured product</span>
        </a>
      </li>
      
      
    
    
    </ul>
  </li>
  
  
  
  
  <li class="menu-link parant">
    <a class="link-title" href="#">
      <span>Pages</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <a data-bs-toggle="collapse" href="#collapse-pages" class="link-title link-title-lg">
      <span>Pages</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-submenu collapse" id="collapse-pages">
      
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/about-us" class="sublink-title">About us</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/faqs" class="sublink-title">Faq's</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/payment-policy" class="sublink-title">Payment policy</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/privacy-policy" class="sublink-title">Privacy policy</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/contact-us" class="sublink-title">Contact us</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/return-policy" class="sublink-title">Return policy</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/pages/terms-conditions" class="sublink-title">Terms & conditions</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="/404" class="sublink-title">Page 404</a>
      </li>

    
    
    
    </ul>
  </li>
  
  
  
  
  <li class="menu-link parant">
    <a class="link-title" href="/blogs/news">
      <span>Blogs</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <a data-bs-toggle="collapse" href="#collapse-blogs" class="link-title link-title-lg">
      <span>Blogs</span>
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-submenu collapse" id="collapse-blogs">
      
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/blogs/news?preview_theme_id=122572505237" class="sublink-title">Blog two grid</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/blogs/news?preview_theme_id=117028585621" class="sublink-title">Blog three grid</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/blogs/news?preview_theme_id=102517080213" class="sublink-title">Blog left sidebar</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/blogs/news?preview_theme_id=102269190293" class="sublink-title">Blog right sidebar</a>
      </li>

    
    
    
      
      
      

      <li class="submenu-li parant">
        <a href="https://vegina-store.myshopify.com/blogs/recipies/italian-chiken-peri-peri" class="sublink-title">Blockquote post</a>
      </li>

    
    
    
    </ul>
  </li>
  
  
  
  
  <li class="menu-link">
    <a href="https://themeforest.net/item/vegist-the-vegetables-organic-food-ecommerce-shopify-theme/27645298?_ga=2.232525215.1005216720.1594384426-306312402.1594142010" class="link-title">
      <span>Buy Vegist<span class="hot">HOT</span></span>
    </a>
    <a href="https://themeforest.net/item/vegist-the-vegetables-organic-food-ecommerce-shopify-theme/27645298?_ga=2.232525215.1005216720.1594384426-306312402.1594142010" class="link-title link-title-lg">
      <span>Buy Vegist<span class="hot">HOT</span></span>
    </a>
  </li>
  
  
</ul>
<script>
  $('.megamenu-li').parent('ul').addClass('mega-menu');
  $('.menu-banner').parent('ul').addClass('banner-menu');
  $('.submenu-li').parent('ul').addClass('sub-menu');
</script>
    </nav>
  </div>
</div>


<div class="mini-cart">
  <a href="javascript:void(0)" class="shopping-cart-close">
    <i class="ion-close-round"></i>
  </a>
  <div class="cart-tempty-title"  style="display:block;">
    <p>No products in the cart.</p>
  </div>
  <div class="cart-item-title"  style="display:none;">
    <p>
      <span class="cart-count-desc">There are</span>
      <span class="cart-count-item bigcounter">0</span>
      <span class="cart-count-desc">products</span>
    </p>
  </div>
  <ul class="cart-item-loop cart-item-wrap"  style="display:none;">
    
  </ul>
  <ul class="subtotal-title-area"  style="display:none;">
    <li class="subtotal-titles">
      <div class="subtotal-titles">
        <h3>Sub Total:</h3>
        <span id="cart-total" class="subtotal-price">$0.00</span>
      </div>
    </li>
    <li class="mini-cart-btns">
      <div class="cart-btns">
        <a href="/cart" class="btn btn-style1">View Cart</a>
        <a href="/checkout" class="btn btn-style1">Checkout</a>
      </div>
    </li>
  </ul>
</div>
<style type="text/css">
/* mini cart css */
.mini-cart{
  position: fixed;
  top: 0;
  
  right: -300px;
  
  width: 300px;
  padding: 15px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 16px 26px -10px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.mini-cart.show{
  
  right: 0;
  
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.mini-cart a.shopping-cart-close{
  font-size: 16px;
  line-height: 0;
}
.mini-cart .cart-tempty-title p{
  color: var(--color-secondary);
  margin-bottom: 0;
  
  text-align: left;
  
  line-height: normal;
}

.mini-cart .cart-item-title p{
  color: var(--color-secondary);
  
  text-align: left;
  
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  line-height: normal;
  font-weight: 600;
}
.mini-cart ul.cart-item-loop{
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  max-height: calc(100% - 210px);
  overflow-y: auto;
  scrollbar-width: thin;
}
.mini-cart .cart-item-title p span.cart-count-item,
.mini-cart ul.subtotal-title-area li .subtotal-titles .subtotal-price{
  color: var(--color-primary);
}
.mini-cart ul.cart-item-loop li.cart-item{
  display: flex;
  
  margin-left: 0;
  text-align: left;
  
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.mini-cart ul.cart-item-loop li.cart-item:last-child{
  border-bottom: none;
}
.mini-cart ul.cart-item-loop li.cart-item .cart-image{
  width: 25%;
}
.mini-cart ul.cart-item-loop li.cart-item .cart-title{
  width: 75%;
  
  margin-left: 15px;
  
}
.mini-cart ul.cart-item-loop li.cart-item .cart-title h6{
  font-size: 14px;
  font-weight: 600;
}
.mini-cart ul.cart-item-loop li.cart-item .cart-title .cart-pro-info{
  margin-top: 10px;
}
.mini-cart ul.cart-item-loop li.cart-item .product-quantity-action{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.mini-cart ul.cart-item-loop li.cart-item .cart-title .quantity{
  color: var(--color-secondary);
  font-size: 13px;
}
.mini-cart ul.cart-item-loop li.cart-item .cart-title .price-box .new-price{
  font-size: 14px;
}
.mini-cart ul.cart-item-loop li.cart-item .cart-title .cart-pro-info .delete-item-cart a{
  font-size: 13px;
  font-weight: 600;
}
.mini-cart ul.subtotal-title-area{
  position: absolute;
  bottom: 0;
  padding: 0 0 15px;
  width: calc(100% - 30px);
  background-color: #fff;
}
.mini-cart ul.subtotal-title-area li{
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}
.mini-cart ul.subtotal-title-area li:first-child{
  margin-top: 0;
}
.mini-cart ul.subtotal-title-area li .subtotal-titles{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mini-cart ul.subtotal-title-area li .subtotal-titles h3{
  font-size: 14px;
  font-weight: 600;
}
.mini-cart ul.subtotal-title-area li .subtotal-titles .subtotal-price{
  margin-top: 0;
  font-weight: 600;
}
.mini-cart ul.subtotal-title-area li .cart-btns {
  display: flex;
  flex-direction: column;
}
.mini-cart ul.subtotal-title-area li .cart-btns a {
  margin-top: 15px;
}
</style>

<div class="modal fade searchmodal" id="searchmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container main-search-active">
          <div class="sidebar-search-input">
            <form action="/search" method="get" class="search-bar" role="search">
              <div class="input-form">
                <div class="form-search">
                  <input type="search" name="q" value="" placeholder="Search our store" required id="search" class="input-text">
                  <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="search-close">
                  <button type="button" class="close" data-bs-dismiss="modal"><i class="ion-close-round"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .header-area .header-main-area {
    
    background-color: #ffffff;
    
  }.header-area.is-sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 8;
    width: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 0 0 15px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    animation: smoothScroll 1s forwards;
  }
  @keyframes smoothScroll {
    0% {
      transform: translateY(-150px);
    }
    100% {
      transform: translateY(0px);
    }
  }</style></div>