<!-- Basic and Helper page needs -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#5fa800"><link rel="canonical" href="https://vegina-store.myshopify.com/"><link rel="shortcut icon" href="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/favicon_dbbdd964-343e-4c1f-ab35-a8ed8a654f84_32x32.png?v=1613781971" type="image/png" /><!-- Title and description -->

<title>
Vegist



</title><!-- Helpers -->
<!-- /snippets/social-meta-tags.liquid -->


<meta property="og:type" content="website">
<meta property="og:title" content="Vegist">
<meta property="og:description" content="">

<meta property="og:url" content="https://vegina-store.myshopify.com/">
<meta property="og:site_name" content="Vegist">




<meta name="twitter:card" content="summary">


<meta name="twitter:title" content="Vegist">
<meta name="twitter:description" content="">



<!-- CSS -->
<style>*,::after,::before{box-sizing:border-box}body{font-family: var(--font-stack-body);font-weight: var(--font-weight-body);font-style: var(--font-style-body);}h1,h2,h3,h4,h5,h6{font-family: var(--font-stack-header);font-weight: var(--font-weight-header);font-style: var(--font-style-header);}
  
</style><link href="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/bootstrap.min.css?v=148578714325549562031632899069" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/font-awesome.min.css?v=21869632697367095781592566608" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/owl.carousel.min.css?v=70516089817612781961592566629" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/owl.theme.default.min.css?v=135046118358282713361592566630" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/swiper.min.css?v=168954572340863736781592566641" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/themify-icons.css?v=17828378678609318721592650596" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/simple-line-icons.css?v=49402511247700599821592655179" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/ionicons.min.css?v=184364306120675196201592566617" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/plugins.css?v=104516409424669372401592566631" rel="stylesheet" type="text/css" media="all" />

<link href="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/style.css?v=131338799356717389991663569766" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/theme-custom.css?v=128354445438008158141648703534" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/skin-theme.css?v=76473555238151551201659156238" rel="stylesheet" type="text/css" media="all" />

<!-- Header hook for plugins -->
<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/41281519765/digital_wallets/dialog">
<link rel="alternate" hreflang="x-default" href="https://vegina-store.myshopify.com/">
<link rel="alternate" hreflang="en-US" href="https://vegina-store.myshopify.com/">
<link rel="alternate" hreflang="nl-US" href="https://vegina-store.myshopify.com/nl">
<script id="shopify-features" type="application/json">{"accessToken":"d2f3544124a81915289c7169d4ae9813","betas":["rich-media-storefront-analytics"],"domain":"vegina-store.myshopify.com","predictiveSearch":true,"shopId":41281519765,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js?v=2","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js?v=2","locale":"en"}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "vegina-store.myshopify.com";
Shopify.locale = "en";
Shopify.currency = {"active":"USD","rate":"1.0"};
Shopify.country = "US";
Shopify.theme = {"name":"Vegist 02","id":102517080213,"theme_store_id":null,"role":"unpublished"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};
Shopify.cdnHost = "cdn.shopify.com";
Shopify.routes = Shopify.routes || {};
Shopify.routes.root = "/";</script>
<script type="module">!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script>
<script>(function() {
function asyncLoad() {
  var urls = ["https:\/\/productreviews.shopifycdn.com\/embed\/loader.js?shop=vegina-store.myshopify.com"];
  for (var i = 0; i < urls.length; i++) {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = urls[i];
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
  }
};
if(window.attachEvent) {
  window.attachEvent('onload', asyncLoad);
} else {
  window.addEventListener('load', asyncLoad, false);
}
})();</script>
<script id="__st">var __st={"a":41281519765,"offset":-14400,"reqid":"bd364847-8aa4-40f9-beba-521bafa66f97","pageurl":"vegina-store.myshopify.com\/","u":"cd6769598969","p":"home"};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>

<script integrity="sha256-qzgBevPPdZ2wrwu9HnUin2oYn1vx8ttCFpYwmYuWkCE=" data-source-attribution="shopify.loadfeatures" defer="defer" src="https://cdn.shopify.com/shopifycloud/shopify/assets/storefront/load_feature-ab38017af3cf759db0af0bbd1e75229f6a189f5bf1f2db42169630998b969021.js" crossorigin="anonymous"></script>
<script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="https://cdn.shopify.com/shopifycloud/shopify/assets/storefront/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js" crossorigin="anonymous"></script>
<script integrity="sha256-V7lM7zdLAxLbwI5Iz1g1WLOqzMR1UKAIHMJLCMbKENY=" defer="defer" src="https://cdn.shopify.com/shopifycloud/shopify/assets/storefront/bars/preview_bar_injector-57b94cef374b0312dbc08e48cf583558b3aaccc47550a0081cc24b08c6ca10d6.js" crossorigin="anonymous"></script>


<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>
<!-- /snippets/oldIE-js.liquid -->


<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
<script src="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/respond.min.js?v=52248677837542619231592566635" type="text/javascript"></script>
<link href="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="//vegina-store.myshopify.com/search?q=b70451242e353c742c05a1e3a2feb9ec" id="respond-redirect" rel="respond-redirect" />
<script src="//vegina-store.myshopify.com/search?q=b70451242e353c742c05a1e3a2feb9ec" type="text/javascript"></script>
<![endif]-->


<!-- JS --><script src="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/modernizr-2.8.3.min.js?v=174727525422211915231592566627"></script>
<script src="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/jquery-1.12.0.min.js?v=180303338299147220221592566619"></script>
<script src="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/bootstrap.bundle.min.js?v=178806464053651140501632819726"></script>
<script src="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/plugins.js?v=96802891699558425321659100418"></script>
<script src="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/owl.carousel.min.js?v=97891440811553454251592566630"></script>
<script src="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/swiper.min.js?v=125509845551321791351592566642"></script>
<script src="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/jquery.lazyload.min.js?v=125476379253928989431659769757"></script>
<script src="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/imagesloaded.pkgd.min.js?v=58209854333173575541592886452"></script>
<script src="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/jquery.isotope.min.js?v=91911861347149225011592886455"></script>
<!-- Ajax Cart js -->
<script src="https://cdn.shopify.com/shopifycloud/shopify/assets/themes_support/option_selection-9f517843f664ad329c689020fb1e45d03cac979f64b9eb1651ea32858b0ff452.js"></script>
<script src="https://cdn.shopify.com/shopifycloud/shopify/assets/themes_support/api.jquery-e94e010e92e659b566dbc436fdfe5242764380e00398907a14955ba301a4749f.js"></script>
<script src="https://cdn.shopify.com/s/files/1/0412/8151/9765/t/3/assets/main.js?v=135738431109890947911659767941"></script>

<script src="https://cdn.shopify.com/shopifycloud/shopify/assets/themes_support/shopify_common-8ea6ac3faf357236a97f5de749df4da6e8436ca107bc3a4ee805cbf08bc47392.js" type="text/javascript"></script>

<link href="https://monorail-edge.shopifysvc.com" rel="dns-prefetch">
<script>(function(){if ("sendBeacon" in navigator && "performance" in window) {var session_token = document.cookie.match(/_shopify_s=([^;]*)/);function handle_abandonment_event(e) {var entries = performance.getEntries().filter(function(entry) {return /monorail-edge.shopifysvc.com/.test(entry.name);});if (!window.abandonment_tracked && entries.length === 0) {window.abandonment_tracked = true;var currentMs = Date.now();var navigation_start = performance.timing.navigationStart;var payload = {shop_id: 41281519765,url: window.location.href,navigation_start,duration: currentMs - navigation_start,session_token: session_token && session_token.length === 2 ? session_token[1] : "",page_type: "index"};window.navigator.sendBeacon("https://monorail-edge.shopifysvc.com/v1/produce", JSON.stringify({schema_id: "online_store_buyer_site_abandonment/1.1",payload: payload,metadata: {event_created_at_ms: currentMs,event_sent_at_ms: currentMs}}));}}window.addEventListener('pagehide', handle_abandonment_event);}}());</script>
<script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'USD';
var meta = {"page":{"pageType":"home"}};
for (var attr in meta) {
window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {

};
</script>
<script class="analytics">(function () {
var customDocumentWrite = function(content) {
  var jquery = null;

  if (window.jQuery) {
    jquery = window.jQuery;
  } else if (window.Checkout && window.Checkout.$) {
    jquery = window.Checkout.$;
  }

  if (jquery) {
    jquery('body').append(content);
  }
};

var hasLoggedConversion = function(token) {
  if (token) {
    return document.cookie.indexOf('loggedConversion=' + token) !== -1;
  }
  return false;
}

var setCookieIfConversion = function(token) {
  if (token) {
    var twoMonthsFromNow = new Date(Date.now());
    twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);

    document.cookie = 'loggedConversion=' + token + '; expires=' + twoMonthsFromNow;
  }
}

var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
if (trekkie.integrations) {
  return;
}
trekkie.methods = [
  'identify',
  'page',
  'ready',
  'track',
  'trackForm',
  'trackLink'
];
trekkie.factory = function(method) {
  return function() {
    var args = Array.prototype.slice.call(arguments);
    args.unshift(method);
    trekkie.push(args);
    return trekkie;
  };
};
for (var i = 0; i < trekkie.methods.length; i++) {
  var key = trekkie.methods[i];
  trekkie[key] = trekkie.factory(key);
}
trekkie.load = function(config) {
  trekkie.config = config || {};
  trekkie.config.initialDocumentCookie = document.cookie;
  var first = document.getElementsByTagName('script')[0];
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.onerror = function(e) {
    var scriptFallback = document.createElement('script');
    scriptFallback.type = 'text/javascript';
    scriptFallback.onerror = function(error) {
            var Monorail = {
    produce: function produce(monorailDomain, schemaId, payload) {
      var currentMs = new Date().getTime();
      var event = {
        schema_id: schemaId,
        payload: payload,
        metadata: {
          event_created_at_ms: currentMs,
          event_sent_at_ms: currentMs
        }
      };
      return Monorail.sendRequest("https://" + monorailDomain + "/v1/produce", JSON.stringify(event));
    },
    sendRequest: function sendRequest(endpointUrl, payload) {
      // Try the sendBeacon API
      if (window && window.navigator && typeof window.navigator.sendBeacon === 'function' && typeof window.Blob === 'function' && !Monorail.isIos12()) {
        var blobData = new window.Blob([payload], {
          type: 'text/plain'
        });
  
        if (window.navigator.sendBeacon(endpointUrl, blobData)) {
          return true;
        } // sendBeacon was not successful
  
      } // XHR beacon   
  
      var xhr = new XMLHttpRequest();
  
      try {
        xhr.open('POST', endpointUrl);
        xhr.setRequestHeader('Content-Type', 'text/plain');
        xhr.send(payload);
      } catch (e) {
        console.log(e);
      }
  
      return false;
    },
    isIos12: function isIos12() {
      return window.navigator.userAgent.lastIndexOf('iPhone; CPU iPhone OS 12_') !== -1 || window.navigator.userAgent.lastIndexOf('iPad; CPU OS 12_') !== -1;
    }
  };
  Monorail.produce('monorail-edge.shopifysvc.com',
    'trekkie_storefront_load_errors/1.1',
    {shop_id: 41281519765,
    theme_id: 102517080213,
    app_name: "storefront",
    context_url: window.location.href,
    source_url: "https://cdn.shopify.com/s/trekkie.storefront.e695302c3cd17296c85e559451c496db44e32e17.min.js"});

    };
    scriptFallback.async = true;
    scriptFallback.src = 'https://cdn.shopify.com/s/trekkie.storefront.e695302c3cd17296c85e559451c496db44e32e17.min.js';
    first.parentNode.insertBefore(scriptFallback, first);
  };
  script.async = true;
  script.src = 'https://cdn.shopify.com/s/trekkie.storefront.e695302c3cd17296c85e559451c496db44e32e17.min.js';
  first.parentNode.insertBefore(script, first);
};
trekkie.load(
  {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":41281519765,"isMerchantRequest":null,"themeId":102517080213,"themeCityHash":"4749259119929613699","contentLanguage":"en","currency":"USD"},"isServerSideCookieWritingEnabled":true},"Session Attribution":{},"S2S":{"facebookCapiEnabled":false,"source":"trekkie-storefront-renderer"}}
);

var loaded = false;
trekkie.ready(function() {
  if (loaded) return;
  loaded = true;

  window.ShopifyAnalytics.lib = window.trekkie;
  

  var originalDocumentWrite = document.write;
  document.write = customDocumentWrite;
  try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
  document.write = originalDocumentWrite;

  window.ShopifyAnalytics.lib.page(null,{"pageType":"home"});

  var match = window.location.pathname.match(/checkouts\/(.+)\/(thank_you|post_purchase)/)
  var token = match? match[1]: undefined;
  if (!hasLoggedConversion(token)) {
    setCookieIfConversion(token);
    
  }
});


    var eventsListenerScript = document.createElement('script');
    eventsListenerScript.async = true;
    eventsListenerScript.src = "//cdn.shopify.com/shopifycloud/shopify/assets/shop_events_listener-65cd0ba3fcd81a1df33f2510ec5bcf8c0e0958653b50e3965ec972dd638ee13f.js";
    document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
  
})();</script>
<script class="boomerang">
(function () {
if (window.BOOMR && (window.BOOMR.version || window.BOOMR.snippetExecuted)) {
  return;
}
window.BOOMR = window.BOOMR || {};
window.BOOMR.snippetStart = new Date().getTime();
window.BOOMR.snippetExecuted = true;
window.BOOMR.snippetVersion = 12;
window.BOOMR.application = "storefront-renderer";
window.BOOMR.themeName = "";
window.BOOMR.themeVersion = "";
window.BOOMR.shopId = 41281519765;
window.BOOMR.themeId = 102517080213;
window.BOOMR.renderRegion = "gcp-us-central1";
window.BOOMR.url =
  "https://cdn.shopify.com/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js";
var where = document.currentScript || document.getElementsByTagName("script")[0];
var parentNode = where.parentNode;
var promoted = false;
var LOADER_TIMEOUT = 3000;
function promote() {
  if (promoted) {
    return;
  }
  var script = document.createElement("script");
  script.id = "boomr-scr-as";
  script.src = window.BOOMR.url;
  script.async = true;
  parentNode.appendChild(script);
  promoted = true;
}
function iframeLoader(wasFallback) {
  promoted = true;
  var dom, bootstrap, iframe, iframeStyle;
  var doc = document;
  var win = window;
  window.BOOMR.snippetMethod = wasFallback ? "if" : "i";
  bootstrap = function(parent, scriptId) {
    var script = doc.createElement("script");
    script.id = scriptId || "boomr-if-as";
    script.src = window.BOOMR.url;
    BOOMR_lstart = new Date().getTime();
    parent = parent || doc.body;
    parent.appendChild(script);
  };
  if (!window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]./)) {
    window.BOOMR.snippetMethod = "s";
    bootstrap(parentNode, "boomr-async");
    return;
  }
  iframe = document.createElement("IFRAME");
  iframe.src = "about:blank";
  iframe.title = "";
  iframe.role = "presentation";
  iframe.loading = "eager";
  iframeStyle = (iframe.frameElement || iframe).style;
  iframeStyle.width = 0;
  iframeStyle.height = 0;
  iframeStyle.border = 0;
  iframeStyle.display = "none";
  parentNode.appendChild(iframe);
  try {
    win = iframe.contentWindow;
    doc = win.document.open();
  } catch (e) {
    dom = document.domain;
    iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void(0);";
    win = iframe.contentWindow;
    doc = win.document.open();
  }
  if (dom) {
    doc._boomrl = function() {
      this.domain = dom;
      bootstrap();
    };
    doc.write("<body onload='document._boomrl();'>");
  } else {
    win._boomrl = function() {
      bootstrap();
    };
    if (win.addEventListener) {
      win.addEventListener("load", win._boomrl, false);
    } else if (win.attachEvent) {
      win.attachEvent("onload", win._boomrl);
    }
  }
  doc.close();
}
var link = document.createElement("link");
if (link.relList &&
  typeof link.relList.supports === "function" &&
  link.relList.supports("preload") &&
  ("as" in link)) {
  window.BOOMR.snippetMethod = "p";
  link.href = window.BOOMR.url;
  link.rel = "preload";
  link.as = "script";
  link.addEventListener("load", promote);
  link.addEventListener("error", function() {
    iframeLoader(true);
  });
  setTimeout(function() {
    if (!promoted) {
      iframeLoader(true);
    }
  }, LOADER_TIMEOUT);
  BOOMR_lstart = new Date().getTime();
  parentNode.appendChild(link);
} else {
  iframeLoader(false);
}
function boomerangSaveLoadTime(e) {
  window.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
}
if (window.addEventListener) {
  window.addEventListener("load", boomerangSaveLoadTime, false);
} else if (window.attachEvent) {
  window.attachEvent("onload", boomerangSaveLoadTime);
}
if (document.addEventListener) {
  document.addEventListener("onBoomerangLoaded", function(e) {
    e.detail.BOOMR.init({
      producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
      ResourceTiming: {
        enabled: true,
        trackedResourceTypes: ["script", "img", "css"]
      },
    });
    e.detail.BOOMR.t_end = new Date().getTime();
  });
} else if (document.attachEvent) {
  document.attachEvent("onpropertychange", function(e) {
    if (!e) e=event;
    if (e.propertyName === "onBoomerangLoaded") {
      e.detail.BOOMR.init({
        producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
        ResourceTiming: {
          enabled: true,
          trackedResourceTypes: ["script", "img", "css"]
        },
      });
      e.detail.BOOMR.t_end = new Date().getTime();
    }
  });
}
})();</script>
<script id="web-pixels-manager-publish">
window.Shopify = window.Shopify || {};
window.Shopify.analytics = window.Shopify.analytics || {};
window.Shopify.analytics.replayQueue = [];
window.Shopify.analytics.publish = function publish(eventName, payload, options) {
  window.Shopify.analytics.replayQueue.push([eventName, payload, options]);
}
</script>
<script id="web-pixels-manager-setup-esm" type="module">
import webPixelsManager from "https://cdn.shopify.com/shopifycloud/web-pixels-manager/0.0.163/esm/browser.js";
const webPixelsManagerAPI = webPixelsManager.init({
shopId: 41281519765,
storefrontBaseUrl: "https://vegina-store.myshopify.com",
cdnBaseUrl: "https://cdn.shopify.com",
surface: "storefront-renderer",
webPixelExtensionBaseUrl: "https://cdn.shopify.com",
webPixelsConfigList: [],
initData: {"customer":null,"cart":null,"productVariants":[],"checkout":null},
});
window.Shopify.analytics.replayQueue.forEach(function(event) {
webPixelsManagerAPI.publishCustomEvent(event[0], event[1], event[2]);
});
window.Shopify.analytics.replayQueue = [];
window.Shopify.analytics.publish = webPixelsManagerAPI.publishCustomEvent;
webPixelsManagerAPI.publish("page_viewed");

</script>
<script id="web-pixels-manager-setup-legacy" nomodule>
(function setup(initConfig, pageEvents, web_pixels_manager_asset_url) {
var script = document.createElement("script");
script.setAttribute("src", web_pixels_manager_asset_url);
script.setAttribute("async", true);
var head = document.getElementsByTagName("head")[0];
head.appendChild(script);
script.onload = function onload() {
  var webPixelsManagerAPI = window.webPixelsManager.init(initConfig);
  pageEvents(webPixelsManagerAPI);
  window.Shopify.analytics.replayQueue.forEach(function(event) {
    webPixelsManagerAPI.publishCustomEvent(event[0], event[1], event[2]);
  });
  window.Shopify.analytics.publish = webPixelsManagerAPI.publishCustomEvent;
};
}
)(
{
  shopId: 41281519765,
  storefrontBaseUrl: "https://vegina-store.myshopify.com",
  cdnBaseUrl: "https://cdn.shopify.com",
  surface: "storefront-renderer",
  webPixelExtensionBaseUrl: "https://cdn.shopify.com",
  webPixelsConfigList: [],
  initData: {"customer":null,"cart":null,"productVariants":[],"checkout":null},
},
function pageEvents(webPixelsManagerAPI) {
  webPixelsManagerAPI.publish("page_viewed");
},
"https://cdn.shopify.com/shopifycloud/web-pixels-manager/0.0.163/iife/browser.js"
);

</script>