<div id="shopify-section-1659087969359e96ce" class="shopify-section">
  <section class="new-product">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="section-title">

            <h2>Trending products</h2>

          </div>

          <div class="new-product-slider owl-carousel" id="new-pro-1659087969359e96ce">


            <div class="item">
              <div class="single-product-wrap">
                <div class="product-image">
                  <a class="pro-img" href="/products/copy-of-sp-red-fresh-guava">

                    <img class="img-fluid img1"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/20_590X668_crop_center.jpg?v=1620642567"
                      alt="">
                    <img class="img-fluid img2"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/8_82074fbc-f168-4c13-8964-5c60b8b5f482_590X668_crop_center.jpg?v=1620642575"
                      alt="Vegetable tomato" />

                  </a>
                  <div class="product-label"></div>

                  <div class="product-action">
                    <a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="copy-of-sp-red-fresh-guava" data-bs-toggle="tooltip"
                      data-bs-placement="top" title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="Shopify.addItem(40039114801301, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('copy-of-sp-red-fresh-guava')" class="quick-view"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>

                </div>
                <div class="product-content">
                  <a href="/collections//vendor_multiweb-infotech" class="pro-vendor">Multiweb Infotech</a>
                  <div class="product-title">
                    <a href="/products/copy-of-sp-red-fresh-guava" title="Vegetable tomato">Vegetable tomato</a>
                  </div>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="6820896309397"></span>
                  </div>
                  <div class="product-description pro_details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                      of type and</p>
                  </div>
                  <div class="price-box">
                    <span class="new-price" id="ProductPrice">$55.00</span>
                  </div>
                </div>
                <div class="list-content">
                  <a class="product-vendor" href="/collections/vendors?q=Multiweb%20Infotech"
                    title="Multiweb Infotech">Multiweb Infotech</a>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="6820896309397"></span>
                  </div>
                  <div class="product-title">
                    <a href="/products/copy-of-sp-red-fresh-guava" title="Vegetable tomato">Vegetable tomato</a>
                  </div>
                  <div class="price-box" id="ProductPrice">
                    <span class="new-price">$55.00</span>
                  </div>

                  <div class="product-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                      of type and</p>
                  </div>

                  <div class="product-action">

                    <a href="javascript:void(0);" onclick="Shopify.addItem(40039114801301, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('copy-of-sp-red-fresh-guava')" class="quick-view"
                      data-bs-toggle="tooltip" data-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a><a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="copy-of-sp-red-fresh-guava" data-bs-toggle="tooltip"
                      data-bs-placement="top" title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="single-product-wrap">
                <div class="product-image">
                  <a class="pro-img" href="/products/sp-red-fresh-guava">

                    <img class="img-fluid img1"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/30_590X668_crop_center.jpg?v=1620642492"
                      alt="">
                    <img class="img-fluid img2"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/7_cb645f59-fb9f-4cfd-998f-8c1317cff15e_590X668_crop_center.jpg?v=1620642504"
                      alt="Sp. red fresh guava" />

                  </a>
                  <div class="product-label">
                    <span class="sale-title">-32%</span>
                  </div>

                  <div class="product-action">
                    <a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="sp-red-fresh-guava" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="Shopify.addItem(40039110443157, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('sp-red-fresh-guava')" class="quick-view"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>

                </div>
                <div class="product-content">
                  <a href="/collections//vendor_multiweb-infotech" class="pro-vendor">Multiweb Infotech</a>
                  <div class="product-title">
                    <a href="/products/sp-red-fresh-guava" title="Sp. red fresh guava">Sp. red fresh guava</a>
                  </div>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="6820894441621"></span>
                  </div>
                  <div class="product-description pro_details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                      of type and</p>
                  </div>
                  <div class="price-box">
                    <span class="new-price" id="ProductPrice">$30.00</span><span class="old-price"
                      id="ComparePrice">$44.00</span>
                  </div>
                </div>
                <div class="list-content">
                  <a class="product-vendor" href="/collections/vendors?q=Multiweb%20Infotech"
                    title="Multiweb Infotech">Multiweb Infotech</a>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="6820894441621"></span>
                  </div>
                  <div class="product-title">
                    <a href="/products/sp-red-fresh-guava" title="Sp. red fresh guava">Sp. red fresh guava</a>
                  </div>
                  <div class="price-box" id="ProductPrice">
                    <span class="new-price">$30.00</span><span class="old-price">$44.00</span>
                  </div>

                  <div class="product-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                      of type and</p>
                  </div>

                  <div class="product-action">

                    <a href="javascript:void(0);" onclick="Shopify.addItem(40039110443157, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('sp-red-fresh-guava')" class="quick-view"
                      data-bs-toggle="tooltip" data-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a><a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="sp-red-fresh-guava" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="single-product-wrap">
                <div class="product-image">
                  <a class="pro-img" href="/products/shrimp-jumbo-5-lb">

                    <img class="img-fluid img1"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/36_1_590X668_crop_center.jpg?v=1595939147"
                      alt="">
                    <img class="img-fluid img2"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/34_590X668_crop_center.jpg?v=1595939147"
                      alt="Shrimp - Jumbo (5 lb)" />

                  </a>
                  <div class="product-label"></div>

                  <div class="product-action">
                    <a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="shrimp-jumbo-5-lb" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="Shopify.addItem(34803779960981, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('shrimp-jumbo-5-lb')" class="quick-view"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>

                </div>
                <div class="product-content">
                  <a href="/collections//vendor_vegina-store" class="pro-vendor">vegina-store</a>
                  <div class="product-title">
                    <a href="/products/shrimp-jumbo-5-lb" title="Shrimp - Jumbo (5 lb)">Shrimp - Jumbo (5 lb)</a>
                  </div>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="5359090040981"></span>
                  </div>
                  <div class="product-description pro_details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                      of type and</p>
                  </div>
                  <div class="price-box">
                    <span class="new-price" id="ProductPrice">$61.00</span>
                  </div>
                </div>
                <div class="list-content">
                  <a class="product-vendor" href="/collections/vendors?q=vegina-store"
                    title="vegina-store">vegina-store</a>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="5359090040981"></span>
                  </div>
                  <div class="product-title">
                    <a href="/products/shrimp-jumbo-5-lb" title="Shrimp - Jumbo (5 lb)">Shrimp - Jumbo (5 lb)</a>
                  </div>
                  <div class="price-box" id="ProductPrice">
                    <span class="new-price">$61.00</span>
                  </div>

                  <div class="product-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                      of type and</p>
                  </div>

                  <div class="product-action">

                    <a href="javascript:void(0);" onclick="Shopify.addItem(34803779960981, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('shrimp-jumbo-5-lb')" class="quick-view"
                      data-bs-toggle="tooltip" data-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a><a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="shrimp-jumbo-5-lb" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="single-product-wrap">
                <div class="product-image">
                  <a class="pro-img" href="/products/organic-coconet">

                    <img class="img-fluid img1"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/2_590X668_crop_center.jpg?v=1620642391"
                      alt="">
                    <img class="img-fluid img2"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/39_590X668_crop_center.jpg?v=1620642397"
                      alt="Organic coconet" />

                  </a>
                  <div class="product-label">
                    <span class="sale-title">-20%</span>
                  </div>

                  <div class="product-action">
                    <a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="organic-coconet" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="Shopify.addItem(40039105167509, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('organic-coconet')" class="quick-view"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>

                </div>
                <div class="product-content">
                  <a href="/collections//vendor_multiweb-infotech" class="pro-vendor">Multiweb Infotech</a>
                  <div class="product-title">
                    <a href="/products/organic-coconet" title="Organic coconet">Organic coconet</a>
                  </div>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="6820892508309"></span>
                  </div>
                  <div class="product-description pro_details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                      of type and</p>
                  </div>
                  <div class="price-box">
                    <span class="new-price" id="ProductPrice">$35.00</span><span class="old-price"
                      id="ComparePrice">$44.00</span>
                  </div>
                </div>
                <div class="list-content">
                  <a class="product-vendor" href="/collections/vendors?q=Multiweb%20Infotech"
                    title="Multiweb Infotech">Multiweb Infotech</a>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="6820892508309"></span>
                  </div>
                  <div class="product-title">
                    <a href="/products/organic-coconet" title="Organic coconet">Organic coconet</a>
                  </div>
                  <div class="price-box" id="ProductPrice">
                    <span class="new-price">$35.00</span><span class="old-price">$44.00</span>
                  </div>

                  <div class="product-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                      of type and</p>
                  </div>

                  <div class="product-action">

                    <a href="javascript:void(0);" onclick="Shopify.addItem(40039105167509, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('organic-coconet')" class="quick-view"
                      data-bs-toggle="tooltip" data-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a><a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="organic-coconet" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="single-product-wrap">
                <div class="product-image">
                  <a class="pro-img" href="/products/orange-juice-5ltr">

                    <img class="img-fluid img1"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/49_590X668_crop_center.jpg?v=1595939069"
                      alt="">
                    <img class="img-fluid img2"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/47_590X668_crop_center.jpg?v=1595939069"
                      alt="Orange Juice (5ltr)" />

                  </a>
                  <div class="product-label"></div>

                  <div class="product-action">
                    <a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="orange-juice-5ltr" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="Shopify.addItem(34803889897621, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('orange-juice-5ltr')" class="quick-view"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>

                </div>
                <div class="product-content">
                  <a href="/collections//vendor_vegina-store" class="pro-vendor">vegina-store</a>
                  <div class="product-title">
                    <a href="/products/orange-juice-5ltr" title="Orange Juice (5ltr)">Orange Juice (5ltr)</a>
                  </div>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="5359109931157"></span>
                  </div>
                  <div class="product-description pro_details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                  </div>
                  <div class="price-box">
                    <span class="new-price" id="ProductPrice">$66.00</span>
                  </div>
                </div>
                <div class="list-content">
                  <a class="product-vendor" href="/collections/vendors?q=vegina-store"
                    title="vegina-store">vegina-store</a>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="5359109931157"></span>
                  </div>
                  <div class="product-title">
                    <a href="/products/orange-juice-5ltr" title="Orange Juice (5ltr)">Orange Juice (5ltr)</a>
                  </div>
                  <div class="price-box" id="ProductPrice">
                    <span class="new-price">$66.00</span>
                  </div>

                  <div class="product-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                  </div>

                  <div class="product-action">

                    <a href="javascript:void(0);" onclick="Shopify.addItem(34803889897621, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('orange-juice-5ltr')" class="quick-view"
                      data-bs-toggle="tooltip" data-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a><a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="orange-juice-5ltr" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="single-product-wrap">
                <div class="product-image">
                  <a class="pro-img" href="/products/exclusive-zacket">

                    <img class="img-fluid img1"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/27_590X668_crop_center.jpg?v=1620641889"
                      alt="">
                    <img class="img-fluid img2"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/11_63bd7f85-bfa5-4d43-b09f-d5b24e398ef6_590X668_crop_center.jpg?v=1620641903"
                      alt="Healthy papaya 100% organic" />

                  </a>
                  <div class="product-label"></div>

                  <div class="product-action">
                    <a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="exclusive-zacket" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="Shopify.addItem(34766853734549, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('exclusive-zacket')" class="quick-view"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>

                </div>
                <div class="product-content">
                  <a href="/collections//vendor_petro-demo" class="pro-vendor">Petro-Demo</a>
                  <div class="product-title">
                    <a href="/products/exclusive-zacket" title="Healthy papaya 100% organic">Healthy papaya 100%
                      organic</a>
                  </div>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="5344753057941"></span>
                  </div>
                  <div class="product-description pro_details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                  </div>
                  <div class="price-box">
                    <span class="new-price" id="ProductPrice">$20.00</span>
                  </div>
                </div>
                <div class="list-content">
                  <a class="product-vendor" href="/collections/vendors?q=Petro-Demo" title="Petro-Demo">Petro-Demo</a>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="5344753057941"></span>
                  </div>
                  <div class="product-title">
                    <a href="/products/exclusive-zacket" title="Healthy papaya 100% organic">Healthy papaya 100%
                      organic</a>
                  </div>
                  <div class="price-box" id="ProductPrice">
                    <span class="new-price">$20.00</span>
                  </div>

                  <div class="product-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                  </div>

                  <div class="product-action">

                    <a href="javascript:void(0);" onclick="Shopify.addItem(34766853734549, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('exclusive-zacket')" class="quick-view"
                      data-bs-toggle="tooltip" data-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a><a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="exclusive-zacket" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="single-product-wrap">
                <div class="product-image">
                  <a class="pro-img" href="/products/fruits-banana-100-organic">

                    <img class="img-fluid img1"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/14_590X668_crop_center.jpg?v=1620642211"
                      alt="">
                    <img class="img-fluid img2"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/7_3edd060e-53fe-4d4d-a0e1-43ad2e4a4059_590X668_crop_center.jpg?v=1620642219"
                      alt="Fruits banana 100% organic" />

                  </a>
                  <div class="product-label">
                    <span class="sale-title">-50%</span>
                  </div>

                  <div class="product-action">
                    <a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="fruits-banana-100-organic" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="Shopify.addItem(40039097860245, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('fruits-banana-100-organic')" class="quick-view"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>

                </div>
                <div class="product-content">
                  <a href="/collections//vendor_multiweb-infotech" class="pro-vendor">Multiweb Infotech</a>
                  <div class="product-title">
                    <a href="/products/fruits-banana-100-organic" title="Fruits banana 100% organic">Fruits banana
                      100% organic</a>
                  </div>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="6820888805525"></span>
                  </div>
                  <div class="product-description pro_details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                  </div>
                  <div class="price-box">
                    <span class="new-price" id="ProductPrice">$22.00</span><span class="old-price"
                      id="ComparePrice">$44.00</span>
                  </div>
                </div>
                <div class="list-content">
                  <a class="product-vendor" href="/collections/vendors?q=Multiweb%20Infotech"
                    title="Multiweb Infotech">Multiweb Infotech</a>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="6820888805525"></span>
                  </div>
                  <div class="product-title">
                    <a href="/products/fruits-banana-100-organic" title="Fruits banana 100% organic">Fruits banana
                      100% organic</a>
                  </div>
                  <div class="price-box" id="ProductPrice">
                    <span class="new-price">$22.00</span><span class="old-price">$44.00</span>
                  </div>

                  <div class="product-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                  </div>

                  <div class="product-action">

                    <a href="javascript:void(0);" onclick="Shopify.addItem(40039097860245, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('fruits-banana-100-organic')" class="quick-view"
                      data-bs-toggle="tooltip" data-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a><a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="fruits-banana-100-organic" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="single-product-wrap">
                <div class="product-image">
                  <a class="pro-img" href="/products/fresh-seafoods">

                    <img class="img-fluid img1"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/33_590X668_crop_center.jpg?v=1620642906"
                      alt="">
                    <img class="img-fluid img2"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/34_34bd8b89-338f-40cb-b956-3aab4af3067b_590X668_crop_center.jpg?v=1620642906"
                      alt="Fresh seafoods" />

                  </a>
                  <div class="product-label">
                    <span class="sale-title">-59%</span>
                  </div>

                  <div class="product-action">
                    <a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="fresh-seafoods" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="Shopify.addItem(40039137542293, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('fresh-seafoods')" class="quick-view"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>

                </div>
                <div class="product-content">
                  <a href="/collections//vendor_multiweb-infotech" class="pro-vendor">Multiweb Infotech</a>
                  <div class="product-title">
                    <a href="/products/fresh-seafoods" title="Fresh seafoods">Fresh seafoods</a>
                  </div>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="6820904403093"></span>
                  </div>
                  <div class="product-description pro_details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                  </div>
                  <div class="price-box">
                    <span class="new-price" id="ProductPrice">$18.00</span><span class="old-price"
                      id="ComparePrice">$44.00</span>
                  </div>
                </div>
                <div class="list-content">
                  <a class="product-vendor" href="/collections/vendors?q=Multiweb%20Infotech"
                    title="Multiweb Infotech">Multiweb Infotech</a>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="6820904403093"></span>
                  </div>
                  <div class="product-title">
                    <a href="/products/fresh-seafoods" title="Fresh seafoods">Fresh seafoods</a>
                  </div>
                  <div class="price-box" id="ProductPrice">
                    <span class="new-price">$18.00</span><span class="old-price">$44.00</span>
                  </div>

                  <div class="product-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                  </div>

                  <div class="product-action">

                    <a href="javascript:void(0);" onclick="Shopify.addItem(40039137542293, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('fresh-seafoods')" class="quick-view"
                      data-bs-toggle="tooltip" data-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a><a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="fresh-seafoods" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="single-product-wrap">
                <div class="product-image">
                  <a class="pro-img" href="/products/copy-of-blackberry-100-organic">

                    <img class="img-fluid img1"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/16_590X668_crop_center.jpg?v=1620642098"
                      alt="">
                    <img class="img-fluid img2"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/18_ba24dbe5-edaf-4e10-bd41-3a592dbc127b_590X668_crop_center.jpg?v=1620642098"
                      alt="Fresh organic reachter" />

                  </a>
                  <div class="product-label">
                    <span class="sale-title">-32%</span>
                  </div>

                  <div class="product-action">
                    <a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="copy-of-blackberry-100-organic" data-bs-toggle="tooltip"
                      data-bs-placement="top" title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="Shopify.addItem(40039093436565, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('copy-of-blackberry-100-organic')"
                      class="quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>

                </div>
                <div class="product-content">
                  <a href="/collections//vendor_multiweb-infotech" class="pro-vendor">Multiweb Infotech</a>
                  <div class="product-title">
                    <a href="/products/copy-of-blackberry-100-organic" title="Fresh organic reachter">Fresh organic
                      reachter</a>
                  </div>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="6820886675605"></span>
                  </div>
                  <div class="product-description pro_details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                  </div>
                  <div class="price-box">
                    <span class="new-price" id="ProductPrice">$44.00</span><span class="old-price"
                      id="ComparePrice">$65.00</span>
                  </div>
                </div>
                <div class="list-content">
                  <a class="product-vendor" href="/collections/vendors?q=Multiweb%20Infotech"
                    title="Multiweb Infotech">Multiweb Infotech</a>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="6820886675605"></span>
                  </div>
                  <div class="product-title">
                    <a href="/products/copy-of-blackberry-100-organic" title="Fresh organic reachter">Fresh organic
                      reachter</a>
                  </div>
                  <div class="price-box" id="ProductPrice">
                    <span class="new-price">$44.00</span><span class="old-price">$65.00</span>
                  </div>

                  <div class="product-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                  </div>

                  <div class="product-action">

                    <a href="javascript:void(0);" onclick="Shopify.addItem(40039093436565, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('copy-of-blackberry-100-organic')"
                      class="quick-view" data-bs-toggle="tooltip" data-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a><a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="copy-of-blackberry-100-organic" data-bs-toggle="tooltip"
                      data-bs-placement="top" title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="single-product-wrap">
                <div class="product-image">
                  <a class="pro-img" href="/products/100-fafe-organic-fruit">

                    <img class="img-fluid img1"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/29_590X668_crop_center.jpg?v=1620641842"
                      alt="">
                    <img class="img-fluid img2"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/products/25_525c2823-683a-445e-b187-6fe7ca3f5a8e_590X668_crop_center.jpg?v=1620641853"
                      alt="Fresh organic fruit(50gm)" />

                  </a>
                  <div class="product-label"></div>

                  <div class="product-action">
                    <a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="100-fafe-organic-fruit" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="Shopify.addItem(34766783381653, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('100-fafe-organic-fruit')" class="quick-view"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>

                </div>
                <div class="product-content">
                  <a href="/collections//vendor_vegina-store" class="pro-vendor">vegina-store</a>
                  <div class="product-title">
                    <a href="/products/100-fafe-organic-fruit" title="Fresh organic fruit(50gm)">Fresh organic
                      fruit(50gm)</a>
                  </div>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="5349752504469"></span>
                  </div>
                  <div class="product-description pro_details">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                  </div>
                  <div class="price-box">
                    <span class="new-price" id="ProductPrice">$33.00</span>
                  </div>
                </div>
                <div class="list-content">
                  <a class="product-vendor" href="/collections/vendors?q=vegina-store"
                    title="vegina-store">vegina-store</a>
                  <div class="product-ratting">
                    <span class="shopify-product-reviews-badge" data-id="5349752504469"></span>
                  </div>
                  <div class="product-title">
                    <a href="/products/100-fafe-organic-fruit" title="Fresh organic fruit(50gm)">Fresh organic
                      fruit(50gm)</a>
                  </div>
                  <div class="price-box" id="ProductPrice">
                    <span class="new-price">$33.00</span>
                  </div>

                  <div class="product-description">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                    </p>
                  </div>

                  <div class="product-action">

                    <a href="javascript:void(0);" onclick="Shopify.addItem(34766783381653, 1); return false;"
                      class="add-to-cart ajax-spin-cart" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Add to Cart">
                      <span class="cart-title"><i class="fa fa-shopping-bag"></i></span>
                      <span class="cart-loading load-anim"><i class="ion-load-a"></i></span>
                      <span class="cart-added"><i class="ion-android-done"></i></span>
                      <span class="cart-unavailable"><i class="ion-android-alert"></i></span>
                    </a>

                    <a href="javascript:void(0);" onclick="quiqview('100-fafe-organic-fruit')" class="quick-view"
                      data-bs-toggle="tooltip" data-placement="top" title="Quickview">
                      <i class="fa fa-eye"></i>
                    </a><a class="action-wishlist tile-actions--btn wishlist-btn wishlist" href="javascript:void(0)"
                      data-product-handle="100-fafe-organic-fruit" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="wishlist">
                      <span class="add-wishlist"><i class="fa fa-heart"></i></span>
                      <span class="loading-wishlist load-anim"><i class="ion-load-a"></i></span>
                      <span class="remove-wishlist"><i class="ion-android-close"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
    $('#new-pro-1659087969359e96ce').owlCarousel({
      loop: false,
      rewind: true,
      margin: 30,
      nav: true,
      navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
      dots: false, autoplay: true,
      sautoplayTimeout: 5000,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 2,
          margin: 15,
        },
        600: {
          items: 3
        },
        768: {
          items: 3
        },
        991: {
          items: 4
        },
        1199: {
          items: 5
        }
      }
    });
  </script>


  <style>
    .new-product {
      padding-top: 80px;
      padding-bottom: 0px;
    }

    @media(max-width: 1199px) {
      .new-product {
        padding-top: 50px;
        padding-bottom: 0px;
      }
    }

    .new-product .new-product-slider .owl-nav {
      margin-top: 0;
    }

    .new-product .new-product-slider .owl-nav button {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      margin: 0;
      line-height: 0;
      font-size: 20px;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      color: #fff;
      background-color: var(--color-primary);
      box-shadow: 0px 0px 12px 0px rgba(123, 190, 70, 0.1);
      -webkit-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
    }

    .new-product .new-product-slider .owl-nav button:hover {
      color: var(--color-primary);
      background-color: #fff;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    }

    .new-product .new-product-slider .owl-nav button.owl-prev {
      left: -15px;
    }

    .new-product .new-product-slider .owl-nav button.owl-next {
      right: -15px;
    }
  </style>
</div>