<div id="shopify-section-1592650120068" class="shopify-section">
  <div class="our-service-area">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="single-service">

            <li class="service-content">
              <div class="main-block">
                <div class="icon-block">
                  <a href="javascript:void(0)">
                    <i class="ti-truck"></i>
                  </a>
                </div>
                <div class="service-text">

                  <span>Free Delivary</span>


                  <p>Orders From All item</p>

                </div>
              </div>
            </li>

            <li class="service-content">
              <div class="main-block">
                <div class="icon-block">
                  <a href="javascript:void(0)">
                    <i class="ti-money"></i>
                  </a>
                </div>
                <div class="service-text">

                  <span>Return & refund</span>


                  <p>Money back guarantee</p>

                </div>
              </div>
            </li>

            <li class="service-content">
              <div class="main-block">
                <div class="icon-block">
                  <a href="javascript:void(0)">
                    <i class="ti-headphone"></i>
                  </a>
                </div>
                <div class="service-text">

                  <span>Quality Support</span>


                  <p>Alway online 24/7</p>

                </div>
              </div>
            </li>

            <li class="service-content">
              <div class="main-block">
                <div class="icon-block">
                  <a href="javascript:void(0)">
                    <i class="ti-email"></i>
                  </a>
                </div>
                <div class="service-text">

                  <span>Join Newslleter</span>


                  <p>20% off by subscribing</p>

                </div>
              </div>
            </li>


          </ul>
        </div>
      </div>
    </div>
  </div>

  <style>
    .our-service-area {
      padding-top: 80px;
      padding-bottom: 0px;
      background-color: #ffffff;
    }

    @media(max-width: 1199px) {
      .our-service-area {
        padding-top: 50px;
        padding-bottom: 0px;
      }
    }

    /*=====================================
our service css
======================================*/

    .our-service-area ul.single-service {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .our-service-area ul.single-service li {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      border: 1px dashed #dedede;
    }

    .our-service-area ul.single-service li.service-content .main-block {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .our-service-area ul.single-service li p {
      color: #999;
      margin-bottom: 0px;
      margin-top: 2px;
    }

    .our-service-area ul.single-service li span {
      font-size: 17px;
      font-weight: 500;
    }

    .our-service-area ul.single-service li a {
      line-height: 0;
      font-size: 38px;
      color: var(--color-secondary);

      margin-right: 15px;

    }

    .our-service-area ul.single-service li i {
      display: inline-block;
      -webkit-transition: transform 400ms ease-in-out 0s;
      -moz-transition: transform 400ms ease-in-out 0s;
      -o-transition: transform 400ms ease-in-out 0s;
      -ms-transition: transform 400ms ease-in-out 0s;
      transition: transform 400ms ease-in-out 0s;
    }

    .our-service-area ul.single-service li:hover i {
      color: var(--color-primary);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }

    @media (max-width: 1199px) {
      .our-service-area ul.single-service li {
        width: 50%;
      }
    }

    @media (max-width: 991px) {
      .our-service-area ul.single-service li span {
        font-size: 14px;
      }

      .our-service-area ul.single-service li a {
        font-size: 28px;
      }
    }

    @media (max-width: 767px) {
      .our-service-area ul.single-service li {
        width: 100%;
      }
    }
  </style>
</div>