<div id="shopify-section-1580272775130" class="shopify-section">
  <section class="blog-wrap">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="section-title">
            <h2>Recent News</h2>
          </div>
          <div class="blog-slider owl-carousel owl-theme" id="blog-slider">

            <div class="blog-post">



              <a href="/blogs/news/helth-and-skin-for-your-organic" class="banner-hover">
                <img class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0412/8151/9765/articles/b3-min_1024x1024.jpg?v=1593256250"
                  alt="Health and skin for your organic" class="img-fluid" />
              </a>

              <div class="blog-post-content">
                <div class="blog-publish">
                  <span class="date-time"><i class="ti-calendar"></i> Aug 18, 2022</span>
                  <a href="/blogs/news/helth-and-skin-for-your-organic/comments">
                    <i class="ti-comment-alt"></i> 1 Comment
                  </a>
                </div>
                <h2 class="blog-title">
                  <a href="/blogs/news/helth-and-skin-for-your-organic">Health and skin for your organic</a>
                </h2>
                <p class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo
                  ligula eget dolor. ...</p>
                <div class="blog-admin">
                  <span>Anil Viradiya</span>
                </div>
              </div>
            </div>


            <div class="blog-post">



              <a href="/blogs/news/organics-mix-masala-fresh-soft" class="banner-hover">
                <img class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0412/8151/9765/articles/b6-min_1024x1024.jpg?v=1593256265"
                  alt="Organics mix masala fresh &amp; soft" class="img-fluid" />
              </a>

              <div class="blog-post-content">
                <div class="blog-publish">
                  <span class="date-time"><i class="ti-calendar"></i> Aug 18, 2022</span>
                  <a href="/blogs/news/organics-mix-masala-fresh-soft/comments">
                    <i class="ti-comment-alt"></i> 0 Comment
                  </a>
                </div>
                <h2 class="blog-title">
                  <a href="/blogs/news/organics-mix-masala-fresh-soft">Organics mix masala fresh & soft</a>
                </h2>
                <p class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo
                  ligula eget dolor. ...</p>
                <div class="blog-admin">
                  <span>Anil Viradiya</span>
                </div>
              </div>
            </div>


            <div class="blog-post">



              <a href="/blogs/news/fresh-organics-brand-and-picnic" class="banner-hover">
                <img class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0412/8151/9765/articles/b5-min_1024x1024.jpg?v=1593256260"
                  alt="Fresh organics brand and picnic" class="img-fluid" />
              </a>

              <div class="blog-post-content">
                <div class="blog-publish">
                  <span class="date-time"><i class="ti-calendar"></i> Aug 18, 2022</span>
                  <a href="/blogs/news/fresh-organics-brand-and-picnic/comments">
                    <i class="ti-comment-alt"></i> 0 Comment
                  </a>
                </div>
                <h2 class="blog-title">
                  <a href="/blogs/news/fresh-organics-brand-and-picnic">Fresh organics brand and picnic</a>
                </h2>
                <p class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo
                  ligula eget dolor. ...</p>
                <div class="blog-admin">
                  <span>Anil Viradiya</span>
                </div>
              </div>
            </div>


            <div class="blog-post">



              <a href="/blogs/news/vegina-special-liquide-fesh-vagi" class="banner-hover">
                <img class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0412/8151/9765/articles/b4-min_29743f1d-aa84-4b71-9dfe-5b34d1ecd746_1024x1024.jpg?v=1593256285"
                  alt="Vegina special liquide fesh vagi" class="img-fluid" />
              </a>

              <div class="blog-post-content">
                <div class="blog-publish">
                  <span class="date-time"><i class="ti-calendar"></i> Aug 18, 2022</span>
                  <a href="/blogs/news/vegina-special-liquide-fesh-vagi/comments">
                    <i class="ti-comment-alt"></i> 0 Comment
                  </a>
                </div>
                <h2 class="blog-title">
                  <a href="/blogs/news/vegina-special-liquide-fesh-vagi">Vegina special liquide fesh vagi</a>
                </h2>
                <p class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo
                  ligula eget dolor. ...</p>
                <div class="blog-admin">
                  <span>Anil Viradiya</span>
                </div>
              </div>
            </div>


            <div class="blog-post">



              <a href="/blogs/news/green-onion-knife-and-salad-placed" class="banner-hover">
                <img class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0412/8151/9765/articles/b1-min_1024x1024.jpg?v=1593256241"
                  alt="Green onion knife and salad placed" class="img-fluid" />
              </a>

              <div class="blog-post-content">
                <div class="blog-publish">
                  <span class="date-time"><i class="ti-calendar"></i> Aug 18, 2022</span>
                  <a href="/blogs/news/green-onion-knife-and-salad-placed/comments">
                    <i class="ti-comment-alt"></i> 18 Comment
                  </a>
                </div>
                <h2 class="blog-title">
                  <a href="/blogs/news/green-onion-knife-and-salad-placed">Green onion knife and salad placed</a>
                </h2>
                <p class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo
                  ligula eget dolor. ...</p>
                <div class="blog-admin">
                  <span>Anil Viradiya</span>
                </div>
              </div>
            </div>


            <div class="blog-post">



              <a href="/blogs/news/all-time-fresh-every-time-helthy" class="banner-hover">
                <img class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0412/8151/9765/articles/b2-min_1024x1024.jpg?v=1593256246"
                  alt="All time fresh every time healthy" class="img-fluid" />
              </a>

              <div class="blog-post-content">
                <div class="blog-publish">
                  <span class="date-time"><i class="ti-calendar"></i> Aug 18, 2022</span>
                  <a href="/blogs/news/all-time-fresh-every-time-helthy/comments">
                    <i class="ti-comment-alt"></i> 1 Comment
                  </a>
                </div>
                <h2 class="blog-title">
                  <a href="/blogs/news/all-time-fresh-every-time-helthy">All time fresh every time healthy</a>
                </h2>
                <p class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo
                  ligula eget dolor. ...</p>
                <div class="blog-admin">
                  <span>Anil Viradiya</span>
                </div>
              </div>
            </div>


            <div class="blog-post">



              <a href="/blogs/news/helth-and-skin-for-your-organic-1" class="banner-hover">
                <img class="img-fluid"
                  src="https://cdn.shopify.com/s/files/1/0412/8151/9765/articles/b4-min_1024x1024.jpg?v=1593256255"
                  alt="Health and skin for your organic" class="img-fluid" />
              </a>

              <div class="blog-post-content">
                <div class="blog-publish">
                  <span class="date-time"><i class="ti-calendar"></i> Aug 18, 2022</span>
                  <a href="/blogs/news/helth-and-skin-for-your-organic-1/comments">
                    <i class="ti-comment-alt"></i> 0 Comment
                  </a>
                </div>
                <h2 class="blog-title">
                  <a href="/blogs/news/helth-and-skin-for-your-organic-1">Health and skin for your organic</a>
                </h2>
                <p class="blog-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo
                  ligula eget dolor. ...</p>
                <div class="blog-admin">
                  <span>Anil Viradiya</span>
                </div>
              </div>
            </div>


          </div>

          <div class="blog-view-wrap">
            <a href="/blogs/news" class="btn btn-style1">View All</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
    $('#blog-slider').owlCarousel({
      loop: false,
      rewind: true,
      margin: 30,
      nav: false,
      dots: false, responsive: {
        0: {
          items: 1,
          margin: 15
        },
        479: {
          items: 1,
          margin: 15
        },
        768: {
          items: 2
        },
        979: {
          items: 2
        },
        1199: {
          items: 3
        }
      }
    });
  </script>

  <style>
    .blog-wrap {
      background-color: rgba(0, 0, 0, 0);
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @media(max-width: 1199px) {
      .blog-wrap {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
  </style>
</div>