<div id="shopify-section-1659092814fd596f27" class="shopify-section">
  <!-- Browuse categoryies -->
  <section class="slider-category">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="section-title">
            <h2>Shop By Category</h2>
          </div>
          <div class="cat-slider owl-carousel" id="category-slider-1659092814fd596f27">


            <div class="item">
              <div class="category-wrap">
                <div class="category-image">
                  <a href="/collections/cat1" class="cat-img">
                    <img class="img-fluid"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/cat1.jpg?v=1613778268">
                  </a>
                  <a href="/collections/cat1" class="cat-title">Sea & Fish</a>
                </div>
              </div>
            </div>


            <div class="item">
              <div class="category-wrap">
                <div class="category-image">
                  <a href="/collections/cat2" class="cat-img">
                    <img class="img-fluid"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/cat2.jpg?v=1613778269">
                  </a>
                  <a href="/collections/cat2" class="cat-title">Summer Fruit</a>
                </div>
              </div>
            </div>


            <div class="item">
              <div class="category-wrap">
                <div class="category-image">
                  <a href="/collections/cat7" class="cat-img">
                    <img class="img-fluid"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/cat3.jpg?v=1613778269">
                  </a>
                  <a href="/collections/cat7" class="cat-title">Fresh Vegetable</a>
                </div>
              </div>
            </div>


            <div class="item">
              <div class="category-wrap">
                <div class="category-image">
                  <a href="/collections/cat3" class="cat-img">
                    <img class="img-fluid"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/cat4.jpg?v=1613778269">
                  </a>
                  <a href="/collections/cat3" class="cat-title">Organic Dryfruit</a>
                </div>
              </div>
            </div>


            <div class="item">
              <div class="category-wrap">
                <div class="category-image">
                  <a href="/collections/cat8" class="cat-img">
                    <img class="img-fluid"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/cat5.jpg?v=1613778270">
                  </a>
                  <a href="/collections/cat8" class="cat-title">Green Seafood</a>
                </div>
              </div>
            </div>


            <div class="item">
              <div class="category-wrap">
                <div class="category-image">
                  <a href="/collections/cat6" class="cat-img">
                    <img class="img-fluid"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/cat6.jpg?v=1613778270">
                  </a>
                  <a href="/collections/cat6" class="cat-title">Organic Juice</a>
                </div>
              </div>
            </div>


            <div class="item">
              <div class="category-wrap">
                <div class="category-image">
                  <a href="/collections/cat5" class="cat-img">
                    <img class="img-fluid"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/cat7.jpg?v=1613778270">
                  </a>
                  <a href="/collections/cat5" class="cat-title">Dairy & Chesse</a>
                </div>
              </div>
            </div>


            <div class="item">
              <div class="category-wrap">
                <div class="category-image">
                  <a href="/collections/cat7" class="cat-img">
                    <img class="img-fluid"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/cat9.jpg?v=1613778270">
                  </a>
                  <a href="/collections/cat7" class="cat-title">Fresh Vegetable</a>
                </div>
              </div>
            </div>


            <div class="item">
              <div class="category-wrap">
                <div class="category-image">
                  <a href="/collections/cat9" class="cat-img">
                    <img class="img-fluid"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/cat8.jpg?v=1613778270">
                  </a>
                  <a href="/collections/cat9" class="cat-title">Fresh Meat</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
    $('#category-slider-1659092814fd596f27').owlCarousel({
      loop: true,
      rewind: true,
      nav: true,
      navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
      dots: false, autoplay: true,
      sautoplayTimeout: 5000,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 2,
          margin: 5
        },
        590: {
          items: 4,
          margin: 5
        },
        768: {
          items: 4,
          margin: 20
        },
        979: {
          items: 5,
          margin: 20
        },
        1199: {
          items: 7,
          margin: 20
        }
      }
    });
  </script>


  <style>
    .slider-category {
      background-color: #ffffff;
      padding-top: 80px;
      padding-bottom: 0px;
    }

    @media(max-width: 1199px) {
      .slider-category {
        padding-top: 50px;
        padding-bottom: 0px;
      }
    }

    .cat-slider .item {
      padding: 5px;
    }

    .cat-slider .category-wrap {
      text-align: center;
    }

    .cat-slider .category-wrap .category-image .cat-img {
      position: relative;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
    }

    .cat-slider .category-wrap .category-image a:hover {
      text-decoration: underline;
    }

    .cat-slider .category-wrap .category-image a.cat-title {
      margin-top: 5px;

    }

    .cat-slider.owl-carousel .owl-nav {
      margin-top: 0;
    }

    .cat-slider.owl-carousel .owl-nav button {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      margin: 0;
      line-height: 0;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      color: #fff;
      font-size: 20px;
      box-shadow: 0px 0px 12px 0px rgba(123, 190, 70, 0.1);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      background-color: var(--color-primary);
    }

    .cat-slider.owl-carousel .owl-nav button:hover {
      color: var(--color-primary)
    }

    .cat-slider.owl-carousel .owl-nav button.owl-prev {
      left: 0;
    }

    .cat-slider.owl-carousel .owl-nav button.owl-next {
      right: 0;
    }

    .cat-slider.owl-carousel:hover .owl-nav button {
      opacity: 1;
      visibility: visible;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
    }

    .cat-slider.owl-carousel .owl-nav button:hover {
      background-color: #fff;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    }

    .cat-slider.owl-carousel:hover .owl-nav button.owl-prev {
      left: -15px;
    }

    .cat-slider.owl-carousel:hover .owl-nav button.owl-next {
      right: -15px;
    }

    @media (max-width: 1199px) {
      .cat-slider.owl-carousel .owl-nav button {
        height: 30px;
        width: 30px;
        opacity: 1;
        visibility: visible;
      }

      .cat-slider.owl-carousel .owl-nav button.owl-prev,
      .cat-slider.owl-carousel:hover .owl-nav button.owl-prev {
        left: -15px;
      }

      .cat-slider.owl-carousel .owl-nav button.owl-next,
      .cat-slider.owl-carousel:hover .owl-nav button.owl-next {
        right: -15px;
      }
    }
  </style>
</div>