<div id="shopify-section-1537075194786" class="shopify-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="slider-main">
          <div class="vegamenu-content">
            <div class="vegamenu-title">
              <h6 class="browse-cat">
                <i class="ion-navicon"></i>
                <span>Browse Category</span>
                <i class="ion-ios-arrow-down"></i>
              </h6>
              <a href="#collapse" class="browse-cat" data-bs-toggle="collapse">
                <i class="ion-navicon"></i>
                <span>Browse Category</span>
                <i class="ion-ios-arrow-down"></i>
              </a>
              <ul class="vega-menu collapse" id="collapse">



                <li class="menu-link parant">
                  <a class="link-title" href="/collections/cat4">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat4_25x25_crop_center.jpg?v=1592896212"
                        alt="Fresh Fruits" />

                      <span>Fresh fruits</span>
                    </div>
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <a data-bs-toggle="collapse" href="#collapse-fresh-fruits" class="link-title link-title-md">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat4_25x25_crop_center.jpg?v=1592896212"
                        alt="Fresh Fruits" />

                      <span>Fresh fruits</span>
                    </div>
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-submenu collapse" id="collapse-fresh-fruits">



                    <li class="megamenu-li parant">
                      <h2 class="sublink-title">Organic staples</h2>
                      <a data-bs-toggle="collapse" href="#collapse-organic-staples" class="sublink-title">
                        <span>Organic staples</span>
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-supmenu collapse" id="collapse-organic-staples">

                        <li class="supmenu-li">
                          <a href="/products/bantch-blazar-hint" class="suplink-title">Blackberry 100%organic</a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/hmd-colection-watch" class="suplink-title">Fresh & helthi food</a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/orange-juice-5ltr" class="suplink-title">Roses popular </a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/ladies-sniper-crop" class="suplink-title">Searches flowers </a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/children-formal-shirt" class="suplink-title">Flower banana </a>
                        </li>

                      </ul>
                    </li>




                    <li class="megamenu-li parant">
                      <h2 class="sublink-title"> Herbs & seasonings </h2>
                      <a data-bs-toggle="collapse" href="#collapse-herbs-seasonings" class="sublink-title">
                        <span> Herbs & seasonings </span>
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-supmenu collapse" id="collapse-herbs-seasonings">

                        <li class="supmenu-li">
                          <a href="/products/henry-tixied-top" class="suplink-title">Fresh fruits exotic </a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/bantch-blazar-hint" class="suplink-title">Fruits & veggies </a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/ladies-sniper-crop" class="suplink-title">Organic fruits & vegetables
                          </a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/binance-bags" class="suplink-title">Flower bouquets</a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/fresh-mussel-500g" class="suplink-title">Bunches marigold </a>
                        </li>

                      </ul>
                    </li>














                    <li class="menu-banner">
                      <a href="/collections/cat9">
                        <img
                          src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat5_250x250.jpg?v=1592896207">
                      </a>
                    </li>


                  </ul>
                </li>




                <li class="menu-link parant">
                  <a class="link-title" href="/collections/cat9">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat5_25x25_crop_center.jpg?v=1592896207"
                        alt="Fresh Meat" />

                      <span>Fresh meat</span>
                    </div>
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <a data-bs-toggle="collapse" href="#collapse-fresh-meat" class="link-title link-title-md">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat5_25x25_crop_center.jpg?v=1592896207"
                        alt="Fresh Meat" />

                      <span>Fresh meat</span>
                    </div>
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-submenu collapse" id="collapse-fresh-meat">



                    <li class="megamenu-li parant">
                      <h2 class="sublink-title">Fresh & helthi food</h2>
                      <a data-bs-toggle="collapse" href="#collapse-fresh-helthi-food" class="sublink-title">
                        <span>Fresh & helthi food</span>
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-supmenu collapse" id="collapse-fresh-helthi-food">

                        <li class="supmenu-li">
                          <a href="/products/fresh-green-orange" class="suplink-title">Fresh green orange</a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/orange-juice-5ltr" class="suplink-title">Leafs banana</a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/bantch-blazar-hint" class="suplink-title">Atta, flours & sooji</a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/exclusive-zacket" class="suplink-title"> Dals & pulses</a>
                        </li>

                      </ul>
                    </li>






                  </ul>
                </li>




                <li class="menu-link parant">
                  <a class="link-title" href="/collections/cat7">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat8_25x25_crop_center.jpg?v=1592896145"
                        alt="Fresh Vegetable" />

                      <span>Fresh vegetable</span>
                    </div>
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <a data-bs-toggle="collapse" href="#collapse-fresh-vegetable" class="link-title link-title-md">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat8_25x25_crop_center.jpg?v=1592896145"
                        alt="Fresh Vegetable" />

                      <span>Fresh vegetable</span>
                    </div>
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-submenu collapse" id="collapse-fresh-vegetable">



                    <li class="megamenu-li parant">
                      <h2 class="sublink-title">Popular searches</h2>
                      <a data-bs-toggle="collapse" href="#collapse-popular-searches" class="sublink-title">
                        <span>Popular searches</span>
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-supmenu collapse" id="collapse-popular-searches">

                        <li class="supmenu-li">
                          <a href="/products/fresh-green-orange" class="suplink-title"> Fruits mango </a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/fresh-dryed-almod-50g" class="suplink-title">Apple </a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/hmd-colection-watch" class="suplink-title">Fresh chicken</a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/orange-juice-5ltr" class="suplink-title"> Frozen chicken</a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/fresh-mussel-500g" class="suplink-title"> Turkey popular </a>
                        </li>

                      </ul>
                    </li>




                    <li class="megamenu-li parant">
                      <h2 class="sublink-title">Banana </h2>
                      <a data-bs-toggle="collapse" href="#collapse-banana" class="sublink-title">
                        <span>Banana </span>
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-supmenu collapse" id="collapse-banana">

                        <li class="supmenu-li">
                          <a href="/products/orange-juice-5ltr" class="suplink-title">Searches </a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/shrimp-jumbo-5-lb" class="suplink-title"> Breast fresho </a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/exclusive-zacket" class="suplink-title">Chicken frozen </a>
                        </li>

                        <li class="supmenu-li">
                          <a href="/products/fresh-mussel-500g" class="suplink-title">Meat chicken </a>
                        </li>

                      </ul>
                    </li>









                  </ul>
                </li>




                <li class="menu-link parant">
                  <a class="link-title" href="/collections/cat8">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat9_25x25_crop_center.jpg?v=1592896206"
                        alt="Green Seafood" />

                      <span>Green searfood</span>
                    </div>
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <a data-bs-toggle="collapse" href="#collapse-green-searfood" class="link-title link-title-md">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat9_25x25_crop_center.jpg?v=1592896206"
                        alt="Green Seafood" />

                      <span>Green searfood</span>
                    </div>
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-submenu collapse" id="collapse-green-searfood">



                    <li class="submenu-li parant">
                      <a href="/products/exclusive-zacket" class="sublink-title">Eggs poultry </a>
                    </li>




                    <li class="submenu-li parant">
                      <a href="/products/100-fafe-organic-fruit" class="sublink-title">Mutton & lamb </a>
                    </li>




                    <li class="submenu-li parant">
                      <a href="/products/exclusive-zacket" class="sublink-title">Sausages</a>
                    </li>




                    <li class="submenu-li parant">
                      <a href="/products/shrimp-jumbo-5-lb" class="sublink-title">Bacon & salami </a>
                    </li>




                    <li class="submenu-li parant">
                      <a href="/products/shrimp-jumbo-5-lb" class="sublink-title">Pork & other </a>
                    </li>




                    <li class="submenu-li parant">
                      <a href="/products/shrimp-jumbo-5-lb" class="sublink-title">Meats marinades</a>
                    </li>





















                  </ul>
                </li>




                <li class="menu-link">
                  <a href="/collections/cat3" class="link-title">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat3_25x25_crop_center.jpg?v=1592896213"
                        alt="Organic Dryfruit" />

                      Organic dryfruit
                    </div>
                  </a>
                  <a href="/collections/cat3" class="link-title link-title-md">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat3_25x25_crop_center.jpg?v=1592896213"
                        alt="Organic Dryfruit" />

                      Organic dryfruit
                    </div>
                  </a>
                </li>




                <li class="menu-link">
                  <a href="/collections/cat7" class="link-title">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat8_25x25_crop_center.jpg?v=1592896145"
                        alt="Fresh Vegetable" />

                      Blackberry 100%organic
                    </div>
                  </a>
                  <a href="/collections/cat7" class="link-title link-title-md">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat8_25x25_crop_center.jpg?v=1592896145"
                        alt="Fresh Vegetable" />

                      Blackberry 100%organic
                    </div>
                  </a>
                </li>




                <li class="menu-link">
                  <a href="/collections/cat6" class="link-title">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat7_25x25_crop_center.jpg?v=1592896147"
                        alt="Organic Juice" />

                      Organic juice
                    </div>
                  </a>
                  <a href="/collections/cat6" class="link-title link-title-md">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat7_25x25_crop_center.jpg?v=1592896147"
                        alt="Organic Juice" />

                      Organic juice
                    </div>
                  </a>
                </li>




                <li class="menu-link">
                  <a href="/collections/cat1" class="link-title">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat1_25x25_crop_center.jpg?v=1592897066"
                        alt="Sea & Fish" />

                      Sea & fish
                    </div>
                  </a>
                  <a href="/collections/cat1" class="link-title link-title-md">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat1_25x25_crop_center.jpg?v=1592897066"
                        alt="Sea & Fish" />

                      Sea & fish
                    </div>
                  </a>
                </li>




                <li class="menu-link">
                  <a href="/collections/cat2" class="link-title">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat2_25x25_crop_center.jpg?v=1592896215"
                        alt="Summer Fruit" />

                      Summer fruit
                    </div>
                  </a>
                  <a href="/collections/cat2" class="link-title link-title-md">
                    <div class="alink">


                      <img
                        src="https://cdn.shopify.com/s/files/1/0412/8151/9765/collections/cat2_25x25_crop_center.jpg?v=1592896215"
                        alt="Summer Fruit" />

                      Summer fruit
                    </div>
                  </a>
                </li>


              </ul>
            </div>
            <script>
              $('.megamenu-li').parent('ul').addClass('mega-menu');
              $('.menu-banner').parent('ul').addClass('banner-menu');
              $('.submenu-li').parent('ul').addClass('sub-menu');
            </script>
          </div>
          <div class="slider-content">
            <div class="home-slider owl-carousel" id="home-slider">

              <div class="item">
                <div class="slide-image">
                  <a class="desk-img" href="/collections/fruits"
                    style="background-image: url(https://cdn.shopify.com/s/files/1/0412/8151/9765/files/slider4_07753b16-a7ed-4056-b866-3658a38ee363.jpg?v=1659505575);">
                  </a>
                  <a href="/collections/fruits" class="mobile-img">
                    <img class="img-fluid"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/mobileslider-1_39519c7d-c237-4ed5-bbb2-bb27adeadc97.jpg?v=1659157386">
                  </a>
                  <div class="slider-text-info slider-text-left">

                    <span style="color:#61ab00;">Summer Vege sale</span>



                    <h1 style="color:#232323;">Vegetable <br> farmfood</h1>





                    <a href="/collections/fruits" class="btn btn-style1">Shop Now</a>

                  </div>
                </div>
              </div>

              <div class="item">
                <div class="slide-image">
                  <a class="desk-img" href="/collections/cat5"
                    style="background-image: url(https://cdn.shopify.com/s/files/1/0412/8151/9765/files/slider5.jpg?v=1659505691);">
                  </a>
                  <a href="/collections/cat5" class="mobile-img">
                    <img class="img-fluid"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/mobileslider-2_8924fc6e-41db-434c-bdd0-4d0518f61d23.jpg?v=1659157386">
                  </a>
                  <div class="slider-text-info slider-text-right">

                    <span style="color:#61ab00;">Mix Masala</span>



                    <h1 style="color:#343a40;">Specialties <br> recipetion</h1>





                    <a href="/collections/cat5" class="btn btn-style1">View Collection</a>

                  </div>
                </div>
              </div>

              <div class="item">
                <div class="slide-image">
                  <a class="desk-img" href="/collections/cat8"
                    style="background-image: url(https://cdn.shopify.com/s/files/1/0412/8151/9765/files/slider6.1.jpg?v=1659505691);">
                  </a>
                  <a href="/collections/cat8" class="mobile-img">
                    <img class="img-fluid"
                      src="https://cdn.shopify.com/s/files/1/0412/8151/9765/files/mobileslider-3_03813dcb-e677-4e54-a258-2d6cd7d50595.jpg?v=1659505833">
                  </a>
                  <div class="slider-text-info slider-text-left">

                    <span style="color:#61ab00;">Top Selling!</span>



                    <h1 style="color:#232323;">Healthier <br> testy way</h1>





                    <a href="/collections/cat8" class="btn btn-style1">Shop Now</a>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('#home-slider').owlCarousel({
        loop: false,
        items: 1,
        rewind: true, margin: 0,
        nav: true,
        navText: ['<i class="fa fa-angle-double-left"></i>', '<i class="fa fa-angle-double-right"></i>'],
        autoplay: true,
        sautoplayTimeout: 10000,
        autoplayHoverPause: true
      });
    });
  </script>

  <style type="text/css">
    .slider-content {
      width: 75%;
    }

    .slider-content .home-slider .slide-image {
      position: relative;
      display: flex;
    }

    .slider-content .home-slider .slide-image .desk-img {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 466px;
      width: 100%;
    }

    .slider-content .home-slider .slide-image .mobile-img {
      display: none;
    }

    .slider-content .home-slider .slide-image .slider-text-info {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      width: 50%;
    }

    .slider-content .home-slider .slide-image .slider-text-info.slider-text-left {
      left: 10%;
      text-align: left;
    }

    .slider-content .home-slider .slide-image .slider-text-info.slider-text-center {
      left: 10%;
      right: 10%;
      margin: 0 auto;
      text-align: center;
    }

    .slider-content .home-slider .slide-image .slider-text-info.slider-text-right {
      right: 10%;
      text-align: right;
    }

    .slider-content .home-slider .slide-image .slider-text-info span {
      font-size: 16px;
      display: block;
    }

    .slider-content .home-slider .slide-image .slider-text-info h1 {
      font-size: 40px;
      margin-top: 15px;
      font-weight: 600;
    }

    .slider-content .home-slider .slide-image .slider-text-info p {
      margin-top: 11px;
      margin-bottom: 0;
    }

    .slider-content .home-slider .slide-image .slider-text-info a {
      margin-top: 23px;
    }

    .slider-content .home-slider .active .slide-image .slider-text-info span {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-duration: 0.7s;
      animation-duration: 0.7s;
    }

    .slider-content .home-slider .active .slide-image .slider-text-info h1 {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
    }

    .slider-content .home-slider .active .slide-image .slider-text-info p {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
      -webkit-animation-delay: 1.3s;
      animation-delay: 1.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-duration: 1.3s;
      animation-duration: 1.3s;
    }

    .slider-content .home-slider .active .slide-image .slider-text-info a {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
      -webkit-animation-delay: 1.6s;
      animation-delay: 1.6s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-duration: 1.6s;
      animation-duration: 1.6s;
    }

    @media (max-width: 1199px) {
      .slider-content {
        width: 100%;
      }

      .slider-content .home-slider .slide-image .slider-text-info h1 {
        font-size: 35px;
        margin-top: 12px;
      }

      .slider-content .home-slider .slide-image .slider-text-info p {
        margin-top: 2px;
      }

      .slider-content .home-slider .slide-image .slider-text-info a {
        margin-top: 18px;
      }
    }

    @media (max-width: 991px) {
      .slider-content .home-slider .slide-image .slider-text-info {
        width: 65%;
      }

      .slider-content .home-slider .slide-image .slider-text-info h1 {
        font-size: 30px;
        margin-top: 11px;
      }

      .slider-content .home-slider .slide-image .slider-text-info a {
        margin-top: 17px;
      }
    }

    @media (max-width: 767px) {
      .slider-content .home-slider .slide-image .slider-text-info {
        width: 80%;
      }

      .slider-content .home-slider .slide-image .slider-text-info.slider-text-left {
        left: 5%;
      }

      .slider-content .home-slider .slide-image .slider-text-info.slider-text-center {
        left: 5%;
        right: 5%;
      }

      .slider-content .home-slider .slide-image .slider-text-info.slider-text-right {
        right: 5%;
      }

      .slider-content .home-slider .slide-image .slider-text-info h1 {
        font-size: 22px;
        margin-top: 7px;
      }

      .slider-content .home-slider .slide-image .slider-text-info p {
        margin-top: 0px;
      }

      .slider-content .home-slider .slide-image .slider-text-info a {
        margin-top: 13px;
      }
    }

    @media (max-width : 600px) {
      .slider-content .home-slider .slide-image .desk-img {
        display: none;
      }

      .slider-content .home-slider .slide-image .mobile-img {
        display: block;
      }
    }

    .slider-content .home-slider .owl-nav {
      margin-top: 0;
    }

    .slider-content .home-slider .owl-nav button {
      color: #fff;
      line-height: 0;
      margin: 0;
      position: absolute;
      bottom: 50%;
      border-radius: 3px;
      transform: translateY(50%);
      font-size: 20px;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid var(--color-primary);
      background-color: var(--color-primary);
    }

    .slider-content .home-slider .owl-nav button:hover {
      color: var(--color-primary);
      background-color: transparent;
    }

    .slider-content .home-slider .owl-nav button.owl-next {
      right: 30px;
    }

    .slider-content .home-slider .owl-nav button.owl-prev {
      left: 30px;
    }

    @media(max-width: 991px) {
      .slider-content .home-slider .owl-nav button.owl-prev {
        left: 15px;
      }

      .slider-content .home-slider .owl-nav button.owl-next {
        right: 15px;
      }
    }

    @media(max-width: 767px) {
      .slider-content .home-slider .owl-nav {
        display: none;
      }
    }

    .slider-content .home-slider .owl-dots {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      line-height: 0;
      text-align: center;
    }

    .home-slider.owl-carousel .owl-dots button:hover span,
    .home-slider.owl-carousel .owl-dots button.active span {
      background-color: var(--color-secondary);
    }

    .home-slider.owl-carousel .owl-dots button span {
      background-color: var(--color-primary);
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    .slider-content .home-slider .owl-dots button {

      margin-right: 10px;

    }

    .slider-content .home-slider .owl-dots button:last-child {

      margin-right: 0px;

    }

    .slider-content .home-slider .owl-dots button span {
      margin: 0;
    }
  </style>
</div>