<div id="shopify-section-1592546363457" class="shopify-section">
  <div class="news-letter"
    style="background-image: url('https://cdn.shopify.com/s/files/1/0412/8151/9765/files/news-bg2_b1d31fdd-11bd-4346-b272-4c04fa5c9244.jpg?v=1613781665');">
    <div class="container">
      <div class="newsletter-block">
        <div class="section-title">

          <h2 style="color: #232323;">Get The Latest Deals</h2>


          <p style="color: #232323;">and receive 20% off coupon for first shopping</p>

        </div>
        <div class="subscribe-content">
          <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8"
            class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden"
              name="utf8" value="✓" />


            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="subscribe-block">
              <input type="email" name="contact[email]" class="email form-control mail text-medium" id="E-mail"
                value="" placeholder="Enter Your Email Address" autocapitalize="off">
              <button type="submit" class="btn btn-style1" name="commit" id="Subscribe">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <style>
    .news-letter {
      padding-top: 80px;
      padding-bottom: 80px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media(max-width: 1199px) {
      .news-letter {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }

    .news-letter .newsletter-block {
      width: 50%;
      margin: 0 auto;
    }

    .news-letter .section-title h2 {
      margin-bottom: 0px;
      font-size: 24px;
    }

    .news-letter .section-title p {
      margin-top: 0;
      margin-bottom: 0;
    }

    .news-letter .subscribe-content {
      margin-top: 30px;
    }

    .news-letter .subscribe-content .contact-form {
      text-align: center;
    }

    .news-letter .subscribe-content .subscribe-block,
    .news-letter .subscribe-content input.email {
      position: relative;
    }

    .news-letter .subscribe-content button {
      position: absolute;
      top: 0;
      bottom: 0;

      right: 0;

      border-radius: 3px;
    }

    .news-letter .subscribe-content input:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }

    .news-letter .subscribe-content input {
      border-radius: 3px;
      height: 45px;
      border: none;
      padding: 10px 15px;
      font-size: 14px;
    }

    @media (max-width: 1199px) {
      .news-letter .section-title h2 {
        font-size: 20px;
      }
    }

    @media (max-width: 991px) {
      .news-letter .newsletter-block {
        width: 100%;
      }
    }

    @media(max-width: 767px) {
      .news-letter .subscribe-content button {
        position: relative;
        right: 0;
        margin-top: 16px;
      }
    }
  </style>
</div><!-- END content_for_index -->