<div id="shopify-section-1588572467928" class="shopify-section">
  <!-- testimonial-area start -->
  <section class="testimonial-area">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section-title">

            <h2 class="heading-home">Our Customer Say</h2>

          </div>
          <div class="testimonial-slider owl-carousel" id="testimonial-slider">

            <div class="item">
              <div class="testi-content">
                <span class="avtar">
                  <i class="fa fa-quote-right"></i>
                </span>
                <h4>“For Customer Support”</h4>
                <div class="review-content">
                  <p>The theme is very clean. I want to say that the support is extremely responsive and has been very
                    patient with me. Thank you so much for your help!</p>
                </div>
                <div class="author-detail">
                  <h6 class="author-name">By TokenFaith</h6>
                  <span class="author-review">

                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>

                  </span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testi-content">
                <span class="avtar">
                  <i class="fa fa-quote-right"></i>
                </span>
                <h4>“For Customer Support”</h4>
                <div class="review-content">
                  <p>We needed a number of adjustments and changes before sending the site from draft/staging to a
                    live site. Support, was quick to make the necessary adjustments and changes.</p>
                </div>
                <div class="author-detail">
                  <h6 class="author-name">By refine_digital</h6>
                  <span class="author-review">

                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>

                  </span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testi-content">
                <span class="avtar">
                  <i class="fa fa-quote-right"></i>
                </span>
                <h4>“For Other”</h4>
                <div class="review-content">
                  <p>The developer is awesome at jumping on and fixing things or making changes for me.

                    The design is great and can be adjusted easily. I will definitely stick to them when comes time
                    for an upgrade.</p>
                </div>
                <div class="author-detail">
                  <h6 class="author-name">By stickersicko</h6>
                  <span class="author-review">

                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>

                  </span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testi-content">
                <span class="avtar">
                  <i class="fa fa-quote-right"></i>
                </span>
                <h4>“For Customer Support”</h4>
                <div class="review-content">
                  <p>Excellent customer support! I highly recommend this. I have been having many troubles making the
                    product page look exactly as I want. The customer support was very responsive and efficient in
                    solving my problems. Thank you very much!</p>
                </div>
                <div class="author-detail">
                  <h6 class="author-name">By clin1</h6>
                  <span class="author-review">

                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>

                  </span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testi-content">
                <span class="avtar">
                  <i class="fa fa-quote-right"></i>
                </span>
                <h4>“Flexibility”</h4>
                <div class="review-content">
                  <p>“ I love this theme. Higly customizable, Easy to use and very flexible theme. Great support !
                    Excellent response times. Very professional and helpful in all queries, absolutely awesome. Highly
                    recommended! The theme is really amazing. Thank you Spacingtech Webify.”</p>
                </div>
                <div class="author-detail">
                  <h6 class="author-name">By disarak</h6>
                  <span class="author-review">

                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>



                  </span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testi-content">
                <span class="avtar">
                  <i class="fa fa-quote-right"></i>
                </span>
                <h4>“Customer Support”</h4>
                <div class="review-content">
                  <p>“ The design is really good and site is very responsive. However, what compelled me to write this
                    review is the customer support that I have got. Prompt support from the developer. Would recommend
                    it highly”</p>
                </div>
                <div class="author-detail">
                  <h6 class="author-name">By Cremica_Foods</h6>
                  <span class="author-review">

                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>

                  </span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testi-content">
                <span class="avtar">
                  <i class="fa fa-quote-right"></i>
                </span>
                <h4>“Customer Support”</h4>
                <div class="review-content">
                  <p>“ This theme is really nice and responsive. I really like it. Anybody can use it easily. Customer
                    Support is AMAZING! They're replying in 5 minutes to our emails. So they help you every time. I
                    recommend you all to buy this. ”</p>
                </div>
                <div class="author-detail">
                  <h6 class="author-name">By sametin8</h6>
                  <span class="author-review">

                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>

                  </span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testi-content">
                <span class="avtar">
                  <i class="fa fa-quote-right"></i>
                </span>
                <h4>“For Customer Support”</h4>
                <div class="review-content">
                  <p>I am pretty happy with the theme. I downloaded and saw documentation is a bit outdated, after
                    spending a couple of days on self; I messaged the support. Boom, received a email reply within 30
                    days; having mentioned that issue will get resolved by tomorrow.</p>
                </div>
                <div class="author-detail">
                  <h6 class="author-name">By logicalguru1111</h6>
                  <span class="author-review">

                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>


                    <i class="fa fa-star"></i>

                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial-area end -->

  <script>
    $('#testimonial-slider').owlCarousel({
      loop: false,
      rewind: true,
      nav: true,
      margin: 30,
      autoHeight: true,
      navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'], items: 1,
      autoHeight: true
    });
  </script>

  <style>
    .testimonial-area {
      background-color: #f9f9f9;
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @media(max-width: 1199px) {
      .testimonial-area {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }

    .testimonial-area .testimonial-slider .testi-content {
      text-align: center;
    }

    .testimonial-area .testimonial-slider .testi-content .avtar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 5px;
      font-size: 20px;
      color: #fff;
      margin: 8px auto;
      background-color: var(--color-primary);
    }

    .testimonial-area .testimonial-slider .testi-content .avtar:after {
      content: "";
      position: absolute;
      width: 75px;
      height: 75px;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
      border-color: var(--color-primary);
    }

    .testimonial-area .testimonial-slider .testi-content h4 {
      font-size: 18px;
      margin-top: 16px;
    }

    .testimonial-area .testimonial-slider .testi-content .review-content {
      max-width: 50%;
      margin: 0 auto;
      margin-top: 16px;
    }

    .testimonial-area .testi-content .review-content span.content-quote {
      color: var(--color-primary);
    }

    .testimonial-area .testi-content .author-detail a {
      border: 2px solid var(--color-primary);
    }

    .testimonial-area .testi-content .author-detail a img {
      border: 1px solid var(--color-primary);
    }

    .testimonial-area .testi-content .author-detail a i {
      background-color: var(--color-primary);
      border: 1px solid var(--color-primary);
    }

    .testimonial-area .testimonial-slider .testi-content .author-detail {
      margin-top: 15px;
    }

    .testimonial-area .testimonial-slider .testi-content .author-detail .author-review {
      margin-top: 5px;
      color: #ffb503;
    }

    .testimonial-area .testimonial-slider.owl-theme .owl-nav {
      margin-top: 0px;
    }

    @media (max-width: 1199px) {
      .testimonial-area .testimonial-slider .testi-content .review-content {
        max-width: 100%;
      }
    }

    @media (max-width: 767px) {
      .testimonial-area .testimonial-slider .testi-content .review-content {
        margin-top: 6px;
      }

      .testimonial-area .testimonial-slider .testi-content .author-detail {
        margin-top: 5px;
      }

      .testimonial-area .testimonial-slider .testi-content:after {
        top: 15px;
      }

      .testimonial-area .testimonial-slider .testi-content {
        width: 100%;
        padding: 15px;
      }
    }

    .testimonial-area .testimonial-slider .owl-dots {
      text-align: center;
      margin-top: 30px;
    }

    .testimonial-area .testimonial-slider .owl-dots button {

      margin-right: 10px;

    }

    .testimonial-area .testimonial-slider .owl-dots button:last-child {

      margin-right: 0px;

    }

    .testimonial-slider.owl-carousel .owl-dots button span {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--color-primary);
    }

    .testimonial-area .testimonial-slider .owl-dots button:hover span,
    .testimonial-area .testimonial-slider .owl-dots button.active span {
      background-color: var(--color-secondary);
    }


    /*slider arrow*/
    .testimonial-area .testimonial-slider .owl-nav button {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      margin: 0;
      line-height: 0;
      font-size: 20px;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      color: #fff;
      background-color: var(--color-primary);
      box-shadow: 0px 0px 12px 0px rgba(123, 190, 70, 0.1);
      -webkit-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
    }

    .testimonial-area .testimonial-slider .owl-nav button:hover {
      color: #fff;
      background-color: var(--color-primary);
    }

    .testimonial-area .testimonial-slider .owl-nav button.owl-prev {
      left: -15px;
    }

    .testimonial-area .testimonial-slider .owl-nav button.owl-next {
      right: -15px;
    }

    .testimonial-area .testimonial-slider .owl-nav button:hover {
      background-color: #fff;
      box-shadow: 0px 0px 12px 0px rgba(123, 190, 70, 0.1);
      color: var(--color-secondary);
    }
  </style>
</div>