<% 
  selectCategory = (
    listCategory,
    currentCategory,
    page,
    error = null,
    link = null,
    id = null
  ) => {
    let xhtml = `<select class="custom-select custom-select-sm ${error && 'is-invalid'}" name="categoriesId" onChange="handleAjax('${link}','categoriesId','${id}',this)">`;
    xhtml += page == 'form' ? '<option value="novalue">Choose Category</option>' : '';
    listCategory.forEach(item => {
      let selected = item._id == currentCategory ? 'selected' : '';
      xhtml += `<option value="${item._id}" ${selected}>${item.name}</option>`;
    });
    xhtml += `</select><span class="error invalid-feedback">${error}</span>`
    return xhtml;
  }
  
%>