<% 
    showUserTimeInfo = (time)  => {
        let username = 'admin';
        username = username ? `<i class="fas fa-user"></i> ${username}` : '';
        time     = time ? `<i class="fas fa-clock"></i> ${dayjs().to(dayjs(time))}` : '';    
        let xhtml = `<span>${username}</span><br />
                    <span class="time">${time}</span>`;
        return xhtml;
    }
%>




