<!DOCTYPE html>
<html lang="en">

<head>
	<% include elements/head %>
</head>

<body>
	<div class="wrapper-content">

		<!-- Component Header -->
		<% include elements/header %>
		<!-- Latest News -->
		<%- body %>

		<div class="spacing"></div>

		<% include elements/footer %>

	</div>
</body>

</html>