doctype html
include ./elements/header
.wrapper
  include ./elements/aside
  .content-wrapper
    include ./elements/nav
    section.content
      block content
  include ./elements/footer
include ./elements/script