<% 
  nestedCategory = (listCategory, parentId = 0) => {
    let xhtml = '';
    listCategory.forEach(item => {
      let link = item.slug;
      if(item.parentId == parentId) {
        xhtml += `<li><a href="${link}">${item.name}</a>`;
        xhtml += nestedCategory(listCategory,item.id) 
        && `<ul>${nestedCategory(listCategory,item.id)}</ul>`
        xhtml += '</li>';
      }
    })
    return xhtml;
  }
%>