<% 
  let mappingData = ((item) => {
      let obj = {}; 
      obj.name = item.name;
      obj.slug = item.slug;
      obj.parentId = item.parentId;
      obj.id = item.id;
      obj.link = item.link;
      return obj; 
  });
  let category = listCategory.map(mappingData);
  let menu = listMenu.map(mappingData);
  
  const nestedChild = (arr, parentId = 0) => {
    let result = [];
    arr.forEach((item,index) => {
      if(item.parentId == parentId) {
        result.push(item)
        if(item.name == 'Category') {
          arr[index]['child'] = category;
        } else {
          arr[index]['child'] = nestedChild(arr,item.id)
        }
        
      } 
    });
    return result;
  }

  nestedChild(category);
  category = category.filter(item => item.parentId == 0);

  nestedChild(menu);
  menu = menu.filter(item => item.parentId == 0);

  nestedMenu = (item, level = 1) => {
    let xhtml = '';
    item.forEach(item => {
      let classLi = 'main-menu__nav list';
      let classUl = 'main-menu__dropdown';
      if(level == 2) {
        classLi = '';
        classUl = '';
      }
      if(item.child.length > 0) {
        classLi = 'main-menu__nav_sub list';
      }
      xhtml += `<li class="${classLi}"><a href="${item.link}">${item.name}</a>`
      if(item.child.length > 0) {
        xhtml += `<ul class="${classUl}">`;
        xhtml += nestedMenu(item.child, level + 1);
        xhtml += `</ul>`;
      }
      xhtml += `</li>`;
    })
    return xhtml; 
  }

  showMenu = () => {
    return nestedMenu(menu);
  }
%>